section.list-clients
	.container
		.clients-slider
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide
							.box-img
							img(src="./img/list-clients/"+i+".png", alt="")
			.swiper-button-prev
			.swiper-button-next