section.cart
	.container
		.cart-wrapper
			h2.cart-title Giỏ hàng
			.table-responsive
				table.table
					thead
						tr
							th 
								span#type-product 3 
								span Sản phẩm / 
								span#quantity-product 6 
								span Số lượng
							th Tên sản phẩm
							th Số lượng
							th Màu sắc
							th Giá
							th Hủy
					tbody
						-for(i=1;i<4;i++)
							tr
								td
									a(href="sanpham-ct.html") 
										img(src="./img/home-product/"+i+".png", alt="")
								td
									a(href="sanpham-ct.html") Loa ABC hiện đại
								td
									.table-content
										.table-text Số lượng
										.table-value 
											.quantity-input
												span.minus -
												input.quantity(value="7")
												span.plus +
								td 
									.table-content
										.table-text Màu sắc
										.table-value Trắng
								td
									.table-content
										.table-text Giá
										.table-value
											p.price 9.490.000 đ
											del.old-price 12.390.000 đ
								td
									img(src="./img/icons/icon-close.svg", alt="")
			.cart-summary
				p
					span Tạm tính:
					span 515.000.000 đ
				p
					span Giảm giá
					span 15.000.000 đ
				hr
				p
					span Thành tiền
					span.total 500.000.000 đ
				p.vat (Đã bao gồm VAT)
			form.voucher
				input#vouchcer(type="text", name="voucher", placeholder="Nhập mã giảm giá/quà tặng")
				button Xác nhận
			.cart-button
				a.btn.btn-back(href="sanpham.html") Tiếp tục mua hàng
				a.btn.btn-main(href="diachigiaohang.html") Mua hàng