.cart-checkout {
	padding-top: 30px;

	.block-title {
		padding: 15px 20px;
		text-align: left;
		border-bottom: 2px solid #f5f5f5;

		h3 {
			font-size: 18px;

			span:nth-child(2) {
				margin-left: 15px;
			}

			span {
				font-weight: 400;
			}
		}

		p {
			display: flex;
			align-items: center;
		}
	}

	form {
		>.form-check {
			padding: 0 15px;

			>label {
				padding-left: 30px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 1px;
					width: 15px;
					height: 15px;
					border-radius: 3px;
					border: 1px solid #888888;
				}
			}

			>input[type="checkbox"] {
				display: none;

				&:checked~label:before {
					box-shadow: inset 0 0 0 2px white;
					background: map-get($mau, main);
					border: 1px solid map-get($mau, main);
				}

				&:checked~.option-list {
					display: flex;
				}
			}

			i {
				display: block;
				margin-top: 7px;
				font-size: 12px;
			}
		}

		.form-wrapper {
			>.form-check {
				padding: 12px 15px;
				border-bottom: 1px solid #f5f5f5;

				>label {
					padding-left: 30px;
					position: relative;
					display: block;
					width: 100%;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 1px;
						width: 15px;
						height: 15px;
						border-radius: 50%;
						border: 1px solid #888888;
					}
				}

				.option-list {
					display: none;
					margin-top: 10px;
					padding-left: 30px;
				}

				>input[type="radio"] {
					display: none;

					&:checked~label:before {
						box-shadow: inset 0 0 0 2px white;
						background: map-get($mau, main);
						border: 1px solid map-get($mau, main);
					}

					&:checked~.option-list {
						display: flex;
					}
				}

				.bank-list {
					flex-wrap: wrap;
					margin: 10px -5px 0 -5px;

					.form-check {
						flex: 0 0 (100% / 7);
						max-width: (100% / 7);
						padding: 0 5px;
						margin-bottom: 10px;

						@media (max-width: 1024.98px) {
							flex: 0 0 (100% / 6);
							max-width: (100% / 6);
						}

						@media (max-width: 767.98px) {
							flex: 0 0 (100% / 4);
							max-width: (100% / 4);
						}

						@media (max-width: 575.98px) {
							flex: 0 0 (100% / 2);
							max-width: (100% / 2);
						}

						label {
							display: flex;
							border: 1px solid #f5f5f5;

							img {
								width: 100%;
							}
						}

						input {
							display: none;

							&:checked~label {
								border: 1px solid map-get($mau, main);
							}
						}

					}
				}


				.form-card {
					p {
						display: flex;
						align-items: center;
						margin-bottom: 15px;
					}

					.col-md-6 {
						padding: 0 0;

						&:nth-child(2) {
							display: flex;
							justify-content: center;
							align-items: center;
						}

						@media (max-width: 767.98px) {
							&:nth-child(2) {
								display: none;
							}
						}
					}

					.form-card-wrapper {
						flex-wrap: wrap;
						display: flex;
						margin: 0 -10px;
					}

					.form-group {
						flex: 0 0 100%;
						max-width: 100%;
						padding: 0 10px;
						margin-bottom: 15px;

						label {
							width: 100%;
							display: block;
							margin-bottom: 7px;
						}

						input[type="text"] {
							height: 40px;
							border: 1px solid #888888;
							width: 100%;
							border-radius: 5px;
							padding: 7px 12px;
						}

						&:nth-child(3),
						&:nth-child(4) {
							flex: 0 0 130px;
							max-width: 130px;
						}
					}

					.form-check {
						flex: 0 0 100%;
						max-width: 100%;
						padding: 0 10px;

						>label {
							padding-left: 30px;
							position: relative;

							&:before {
								content: '';
								position: absolute;
								left: 0;
								top: 1px;
								width: 15px;
								height: 15px;
								border-radius: 5px;
								border: 1px solid #888888;
							}
						}

						>input[type="checkbox"] {
							display: none;

							&:checked~label:before {
								box-shadow: inset 0 0 0 2px white;
								background: map-get($mau, main);
								border: 1px solid map-get($mau, main);
							}

							&:checked~.option-list {
								display: flex;
							}
						}

						i {
							display: block;
							margin-top: 7px;
							font-size: 12px;
						}
					}

				}
			}
		}

		.payment-method {
			.form-wrapper {
				.bank-list {
					.form-check {
						flex: 0 0 auto;
						width: auto;
						max-width: 100%;

						// label {
						// 	img {
						// 		height: 35px;
						// 	}
						// }
					}
				}
			}
		}

		.shipping-method,
		.payment-method {
			background: white;
			border-radius: 5px;
			border: 1px solid #f5f5f5;
			border-radius: 5px;
			margin-bottom: 20px;
		}

		.form-button {
			margin-top: 20px;

			.btn {
				margin-left: 0;
				width: 340px;
				height: 35px;
				font-weight: 700;
				font-size: 13px;
				color: white;
			}
		}
	}

	.col-lg-auto {
		max-width: 350px;

		.block-title {
			padding: 10px 15px;

			h3 {
				display: flex;
				align-items: center;
			}

			.mdi {
				color: map-get($mau, main);
				font-size: 24px;
				;
			}
		}

		@media (max-width: 1024.98px) {
			display: none;
		}
	}

	.side-shipping-address {
		border: 1px solid #f5f5f5;
		border-radius: 5px;
		margin-bottom: 20px;
		border-radius: 5px;
		background: #ffffff;
		font-size: 14px;

		.address-item {
			width: 100%;
			padding: 15px;
			border-radius: 5px;
			position: relative;

			&.default {
				border: 1px solid map-get($mau, main);
			}

			p,
			h4 {
				margin-bottom: 7px;
			}

			.default-sign {
				position: absolute;
				bottom: 15px;
				right: 15px;
				font-size: 12px;
				color: map-get($mau, main);
				font-style: italic;

				@media (max-width: 1024.98px) {
					top: 15px;
					bottom: auto;
				}
			}

			.button-wrapper {
				display: flex;

				.btn {
					padding: 0 15px;
					margin-right: 0;
					margin-left: 0;

					+.btn {
						margin-left: 10px;
					}

					@media (max-width: 1024.98px) {
						font-size: 12px;
					}
				}
			}
		}
	}

	.cart-summary {
		border: 1px solid #f5f5f5;
		border-radius: 5px;
		background: white;
		border-radius: 5px;
		font-size: 12px;

		.cart-item-list {
			padding: 0 15px;
		}

		.cart-item {
			padding: 10px 0;
			display: flex;

			+.cart-item {
				border-top: 1px solid #f5f5f5;
			}

			.price {
				flex: 0 0 95px;
				max-width: 95px;
				font-size: 12px;
				text-align: right;

				color b {
					font-weight: 400;
				}
			}

			.info {
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;
				padding-right: 15px;

				.name {
					margin-bottom: 7px;
					font-weight: 400;

					a {
						color: inherit;
						font-size: 14px;
					}
				}

				.brand,
				.quantity,
				.color {
					color: #888888;
				}

				// .color {
				// 	color: #888888;
				// 	display: flex;
				// 	margin-top: 10px;

				// 	.list-color {
				// 		display: flex;
				// 		flex-wrap: wrap;

				// 		a {
				// 			white-space: nowrap;
				// 			height: 20px;
				// 			display: flex;
				// 			justify-content: center;
				// 			align-items: center;
				// 			padding: 0 5px;
				// 			border-radius: 5px;
				// 			border: 1px solid #1c1c1c;
				// 			color: #484848;
				// 			margin-bottom: 10px;
				// 			margin-right: 10px;
				// 			font-size: 12px;

				// 			&.active {
				// 				border: 1px solid map-get($mau, main);
				// 				color: map-get($mau, main);
				// 			}
				// 		}
				// 	}
				// }
			}
		}

		.cart-bottom {
			padding: 15px;
			border-top: 1px solid#f5f5f5;

			p {
				display: flex;
				justify-content: space-between;
			}

			>span {
				text-align: right;
				display: block;
				font-size: 12px;
			}
		}
	}

	.cart-button {
		padding: 0 15px 15px 15px;

		.btn-edit-cart {
			max-width: 50px;
			margin-left: 0;
			text-decoration: underline;
			display: inline-block;
			color: map-get($mau, main)
		}
	}
}