.container
	.cart-finish
		.content
			img(src="./img/icons/cart-finish.svg", alt="")
			h3 Cảm ơn bạn đã mua hàng của chúng tôi
			p Mã số đơn hàng: 798770620
			p Bạn có thể xem lại đơn hàng tại: 
				a(href="tk-quanlydonhang.html") đây
			p Giao hàng tiêu chuẩn: Dự kiến giao hàng vào Thứ bảy, 11/05/2019
			span Thông tin chi tiết về đơn hàng đã được gửi đến địa chỉ mail phangianhatlinh@gmail.com. Nếu không tìm thấy vui lòng kiểm tra trong hộp thư Spam hoặc Junk Folder.