.account-title
	h2.block-title-2 Quản lý đơn hàng
	
.account-manage-bill
	.table-responsive
		table.bill-list-table
			thead
				tr
					th Sản phẩm
					th Mã đơn hàng
					th Ngày mua
					th Tổng tiền
					th Trạng thái
			tbody
				- for(i=0;i<10;i++)
					tr
						td
							a(href="tk-quanlydonhang-ct.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit
						td 
							a(href="tk-quanlydonhang-ct.html") 
								span Mã đơn hàng: 
								span 218547011
						td 
							span Ngày mua: 
							span 09/11/2019
						td 
							span Giá: 
							span 432,490,000 đ
						td 
							p.failed
								img.lazyload(data-src="./img/icons/icon-failed.svg")
					tr
						td
							a(href="tk-quanlydonhang-ct.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit dolorum
						td 
							a(href="tk-quanlydonhang-ct.html") 
								span Mã đơn hàng: 
								span 218547011
						td 
							span Ngày mua: 
							span 09/11/2019
						td 
							span Giá: 
							span 432,490,000 đ
						td
							p.successed
								img.lazyload(data-src="./img/icons/icon-success.svg")
	.pagination-wrapper
		include ../../_global/pagination.pug