.account-manage-bill {
	background: map-get($mau, trang);
	border: 1px solid map-get($mau, xam-1);
	border-top: 0;

	.bill-list-table {
		width: 100%;
		border-bottom: 1px solid map-get($mau, xam-2);

		tr {
			td {
				border-top: 1px solid map-get($mau, xam-2);
			}
		}

		th,
		td {
			height: 70px;
			min-height: 70px;
			padding: 8px 15px;
			text-align: left;

			&:first-child {
				padding: 8px 20px;
				padding-left: 50px;
				max-width: 400px;
				width: 400px;

				@media (max-width: 1199.98px) {
					padding-left: 20px;
				}
			}

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				width: 130px;
				text-align: center;

				span:first-child {
					color: #888888;

					@media (min-width: 1025px) {
						display: none;
					}
				}
			}

			&:last-child {
				width: 95px;
				padding-right: 25px;
				text-align: center;
			}
		}

		td {

			&:nth-child(2),
			&:nth-child(4) {
				color: map-get($mau, main);


				a {
					color: inherit;
				}
			}

			&:nth-child(4) {
				font-weight: 400;
			}

			&:last-child {
				p {
					text-align: center;
				}
			}
		}

		@media (max-width: 1024.98px) {
			// min-width: 1000px;
			display: block;

			thead {
				display: none;
			}

			tbody {
				display: block;
			}

			tr {
				display: block;
				position: relative;
				padding: 15px;

				td {
					display: block;
					height: auto;
					width: auto !important;
					border: 0 !important;
					padding: 0 0 !important;
					min-height: unset;

					&:last-child {
						position: absolute;
						bottom: 0%;
						right: 15px;
						transform: translateY(-50%);

						span:last-child {
							display: none;
						}
					}

					&:first-child {
						margin-bottom: 10px;
					}

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						text-align: left;
					}
				}

				&:nth-child(even) {
					background: map-get($mau, xam-2);
				}
			}
		}
	}
}