.account-title
	h2.block-title-2 
		<svg xmlns="http://www.w3.org/2000/svg" width="21.135" height="12.677" viewBox="0 0 21.135 12.677"><path d="M411.792,617.724H393.357l4.191-4.642a.635.635,0,1,0-.943-.851l-5.149,5.7a.591.591,0,0,0-.06.1.628.628,0,0,0-.057.094.652.652,0,0,0-.044.22l0,.014h0a.616.616,0,0,0,.048.238.5.5,0,0,0,.056.089.594.594,0,0,0,.065.1l5.271,5.7a.635.635,0,0,0,.934-.861l-4.288-4.638h18.413a.635.635,0,1,0,0-1.27Z" transform="translate(-391.293 -612.021)"/></svg>
		a(href="tk-quanlydonhang.html") Chi tiết đơn hàng #218557011

.account-manage-bill-detail
	.bill-detail-info
		.block-info.row
			.col-12
				h3 Địa chỉ người nhận
			.col-12
				p Họ và tên: Phan Gia Nhật Linh
			.col-md
				p Địa chỉ: 161/1, hẻm 161, Quang Trung, Quận Gò Vấp, Hồ Chí Minh
			.col-md-auto
				p Điện thoại: 0938889684
		.block-info.row
			.col-12
				h3 Địa chỉ người nhận
			.col-md
				p Giao hàng tiêu chuẩn (Dự kiến giao hàng Thứ ba, 05/03/2019)
			.col-md-auto
				p Phí giao hàng: 15.000 ₫
		.block-info.row
			.col-12
				h3 Hình thức thanh toán
			.col-md
				.status
					p Thanh toán bằng thẻ quốc tế Visa, Master, JCB
					p.status-result
						img(src="./img/icons/icon-success-2.svg", alt="")
						span Thành công
			.col-md-auto
				p Số thẻ: **********7042
		.block-info.row
			.col-12
				h3 Hình thức thanh toán
			.col-md
				.status
					p.status-result
						img(src="./img/icons/icon-failed-2.svg", alt="")
						span Chưa thanh toán
			.col-md-auto
	.bill-detail-products
		.bill-detail
			.img
				img.lazyload(data-src="./img/home-product/1.png", alt="")
			.info
				h4 Tai nghe Heritage HP 3
			.quantity
				p Số lượng: 12
			.color
				p Màu: Đỏ
			.price-wrapper
				span.price 9,490,000 đ
				del.old 12,390,000 đ
		.bill-detail
			.img
				img.lazyload(data-src="./img/home-product/1.png", alt="")
			.info
				h4 Tai nghe Heritage HP 3 ghe Heritage HP 3
			.quantity
				p Số lượng: 12
			.color
				p Màu: Trắng
			.price-wrapper
				span.price 9,490,000 đ
				del.old 12,390,000 đ
		.bill-detail
			.img
				img.lazyload(data-src="./img/home-product/1.png", alt="")
			.info
				h4 Tai nghe Heritage HP 3
			.quantity
				p Số lượng: 12
			.color
				p Màu: Đỏ
			.price-wrapper
				span.price 9,490,000 đ
				del.old 12,390,000 đ
		.row
			.col-lg.button-wrapper
				a.btn.btn-outline-black(href="tk-quanlydonhang-trangthai.html") Theo dõi trạng thái đơn hàng
			.col-lg-auto.bill-detail-bottom
				p
					span Tạm tính:
					b 515,000,000 đ
				p
					span Phí vận chuyển:
					b 15,000 đ
				p.total-wrapper
					span Thành tiền:
					b.total 515,000,000 đ
				span (Đã bao gồm VAT)