.account-title
	h2.block-title-2 
		a(href="tk-quanlydonhang-ct.html")
			<svg xmlns="http://www.w3.org/2000/svg" width="21.135" height="12.677" viewBox="0 0 21.135 12.677"><path d="M411.792,617.724H393.357l4.191-4.642a.635.635,0,1,0-.943-.851l-5.149,5.7a.591.591,0,0,0-.06.1.628.628,0,0,0-.057.094.652.652,0,0,0-.044.22l0,.014h0a.616.616,0,0,0,.048.238.5.5,0,0,0,.056.089.594.594,0,0,0,.065.1l5.271,5.7a.635.635,0,0,0,.934-.861l-4.288-4.638h18.413a.635.635,0,1,0,0-1.27Z" transform="translate(-391.293 -612.021)"/></svg>
			span Chi tiết đơn hàng #218557011

.account-manage-bill-status
	.status-bar
		ul
			li.active Đặt hàng
			li.active Tiếp nhận hóa đơn
			li Đang vận chuyển
			li Giao hàng thành công

	.status-timeline
		h3 Thứ bảy, 26/04/2019
		p
			time 12:58: 
			span Giao hàng thành công
		p
			time 10:58: 
			span Đang vận chuyển
	.status-timeline
		h3 Thứ sáu, 25/04/2019
		p
			time 10:58: 
			span Đang đóng gói
		p
			time 10:58: 
			span Đang vận chuyển
		p
			time 10:58: 
			span Đã tiếp nhận đơn hànng

	.order-cart-list
		.title
			h3 Kiện hàng
		.order-cart-item
			a(href="sanpham-ct.html")
				.img
					img.lazyload.ofc(data-src="./img/home-product/1.png", alt="")
				.info
					h4 Tai nghe Heritage HP 3
					p Thương hiệu: TANNOY
		.order-cart-item
			a(href="sanpham-ct.html")
				.img
					img.lazyload.ofc(data-src="./img/home-product/1.png", alt="")
				.info
					h4 Tai nghe Heritage HP 3
					p Thương hiệu: TANNOY