#back-to-top {
	position: fixed;
	cursor: pointer;
	right: 25px;
	bottom: 150px;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	border: 1px solid map-get($mau, main);
	border-radius: 5px;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 1024.98px) {
		bottom: 18pt;
		right: unset;
		left: 25px;

		svg {
			width: 40px;
			height: 40px;
		}
	}

	@media (max-width: 767.98px) {
		svg {
			width: 30px;
			height: 30px;
		}
	}

}