#back-to-top {
	position: fixed;
	cursor: pointer;
	right: 100px;
	bottom: 50px;
	z-index: 500;
	opacity: 0;
	visibility: hidden;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 1024.98px) {
		right: 10px;
		bottom: 125px;

		svg {
			width: 40px;
			height: 40px;
		}
	}

	@media (max-width: 767.98px) {
		bottom: 150px;

		svg {
			width: 30px;
			height: 30px;
		}
	}

}