footer
	.container
		.row
			.col-lg-4
				.logo
					a(href="#")
						img(src="./img/logo.png", alt="")
				.info-company
					ul
						li
							h5 CTY GIẢI PHÁP NGHE NHÌN A.V.S
						li
							h5 Văn phòng CTY:
							span 115 Lê Đình Dương, Tp.Đà Nẵng
						li
							h5 Showroom:
							span 83 Trần Quốc Toản, Tp.Đà Nẵng
						li
							h5 Tel:
							span 0236.3584 606
						li
							h5 FAX:
							span 0236.3583 606
						li
							h5 Email:
							span avs.vietnam@gmail.com
			.col-lg-4
				ul.list-footer
					li
						a(href="#") KHUYẾN MÃI
					li
						a(href="#") CÂU HỎI THƯỜNG GẶP
					li
						a(href="#") TIN TỨC
					li
						a(href="#") TUYỂN DỤNG
					li
						a(href="#") HỆ THỐNG CỬA HÀNG
					li
						a(href="#") LIÊN HỆ
			.col-lg-4
				ul.list-footer
					li
						a(href="#") DỊCH VỤ KHÁCH HÀNG
					li
						a(href="#") GIAO HÀNG VÀ THANH TOÁN
					li
						a(href="#") CHÍNH SÁCH ĐỔI TRẢ
					li
						a(href="#") HƯỚNG DẪN MUA HÀNG  
					li
						a(href="#") TRẢ GÓP
			.col-lg-4
				img(src="./img/icons/dangkyfooter.svg", alt="")
				p.coppy-right © 2019 Copyright by Web4G Solutions. All rights reserved.
			.col-lg-4
				.hot-line
					h3 HOTLINE: 0935.605.333