footer
	.container
		.row
			.col-lg-4
				.logo
					a(href="#")
						img(src="./img/logo.png", alt="logo footer")
				.info-company
					ul
						li
							h5 CTY GIẢI PHÁP NGHE NHÌN A.V.S
						li
							h5 Văn phòng CTY:
							span 115 Lê Đình Dương - Hải Châu - Đà Nẵng
						li
							h5 Showroom:
							span 83 Trần Quốc Toản - Hải Châu - Đà Nẵng
						li
							h5 Tel:
							span
								a(href="tel:0935.605.333") 0935.605.333
						//- li
						//- 	h5 FAX:
						//- 	span 0236.3583 606
						li
							h5 Email:
							span anhduyenaudio@gmail.com
			.col-lg-4.hide-in-pc
				.hot-line-mb
					h3 HOTLINE: 0935.605.333 - 0236.3584.606
			.col-lg-4.col-6
				ul.list-footer
					li
						a(href="sanphamkhuyenmai.html") Khuyến mãi
					li
						a(href="gioithieu.html") Về chúng tôi
					li
						a(href="tintuc-pc.html") Tin tức
					li
						a(href="tuyendung.html") Tuyển dụng
					li
						a(href="hethongcuahang.html") Hệ thống cửa hàng
					li
						a(href="lienhe.html") Liên hệ
			.col-lg-4.col-6
				ul.list-footer
					li
						a(href="cauhoithuonggap.html") Câu hỏi thường gặp
					li
						a(href="cauhoithuonggap.html") Dịch vụ khách hàng
					li
						a(href="cauhoithuonggap.html") Giao hàng và thanh toán
					li
						a(href="cauhoithuonggap.html") Chính sách đổi trả
					li
						a(href="cauhoithuonggap.html") Hướng dẫn mua hàng
					li
						a(href="cauhoithuonggap.html") Trả góp
			.col-lg-4.coppy-right
				.box-img
					a(href="#")
						img(src="./img/icons/dathongbao.png", alt="online gov vn")
					ul.social-media.mb
						li.item
							a(href="#")
								img(src="./img/icons/facebook.svg", alt="facebook footer")
						li.item
							a(href="#")
								img(src="./img/icons/instagram.svg", alt="instagram footer")
						li.item
							a(href="#")
								img(src="./img/icons/twitter.svg", alt="twiter footer")
						li.item
							a(href="#")
								img(src="./img/icons/printest.svg", alt="pinterest footer")
						li.item
							a(href="#")
								img(src="./img/icons/linkedin.svg", alt="linkedin footer")
				a(href="http://web4gsolutions.com/" rel="nofollow") Copyrights © 2019 AnhDuyenAudio.vn. All Rights Reserved
				a(href="http://web4gsolutions.com/" rel="nofollow") Giấy chứng nhận ĐKKD số: 040062277 do Sở KH & ĐT TP. Đà Nẵng cấp ngày 09/05/2008
			.col-lg-4
				//- .hot-line
				//- 	h3 HOTLINE: 0935.605.333
			.col-lg-4
				ul.social-media
					li.item
						a(href="#")
							img(src="./img/icons/facebook.svg", alt="facebook footer")
					li.item
						a(href="#")
							img(src="./img/icons/instagram.svg", alt="instagram footer")
					li.item
						a(href="#")
							img(src="./img/icons/twitter.svg", alt="twiter footer")
					li.item
						a(href="#")
							img(src="./img/icons/printest.svg", alt="pinterest footer")
					li.item
						a(href="#")
							img(src="./img/icons/linkedin.svg", alt="linkedin footer")