footer
	.container
		.row
			.col-lg-4
				.logo
					a(href="#")
						img(src="./img/logo.png", alt="")
				.info-company
					ul
						li
							h5 CTY GIẢI PHÁP NGHE NHÌN A.V.S
						li
							h5 Văn phòng CTY:
							span 115 Lê Đình Dương, Tp.Đà Nẵng
						li
							h5 Showroom:
							span 83 Trần Quốc Toản, Tp.Đà Nẵng
						li
							h5 Tel:
							span 0236.3584 606
						li
							h5 FAX:
							span 0236.3583 606
						li
							h5 Email:
							span avs.vietnam@gmail.com
			.col-lg-4.hide-in-pc
				.hot-line-mb
					h3 HOTLINE: 0935.605.333
			.col-lg-4
				ul.list-footer
					li
						a(href="sanphamkhuyenmai.html") KHUYẾN MÃI
					li
						a(href="gioithieu.html") GIỚI THIỆU
					li
						a(href="tintuc.html") TIN TỨC
					li
						a(href="tuyendung.html") TUYỂN DỤNG
					li
						a(href="hethongcuahang.html") HỆ THỐNG CỬA HÀNG
					li
						a(href="lienhe.html") LIÊN HỆ
			.col-lg-4
				ul.list-footer
					li
						a(href="cauhoithuonggap.html") CÂU HỎI THƯỜNG GẶP
					li
						a(href="cauhoithuonggap.html") DỊCH VỤ KHÁCH HÀNG
					li
						a(href="cauhoithuonggap.html") GIAO HÀNG VÀ THANH TOÁN
					li
						a(href="cauhoithuonggap.html") CHÍNH SÁCH ĐỔI TRẢ
					li
						a(href="cauhoithuonggap.html") HƯỚNG DẪN MUA HÀNG  
					li
						a(href="cauhoithuonggap.html") TRẢ GÓP
			.col-lg-4.coppy-right
				.box-img
					img(src="./img/icons/dangkyfooter.svg", alt="")
					ul.social-media.mb
						li.item
							a(href="#")
								img(src="./img/icons/facebook.svg", alt="")
						li.item
							a(href="#")
								img(src="./img/icons/instagram.svg", alt="")
						li.item
							a(href="#")
								img(src="./img/icons/twitter.svg", alt="")
						li.item
							a(href="#")
								img(src="./img/icons/printest.svg", alt="")
						li.item
							a(href="#")
								img(src="./img/icons/linkedin.svg", alt="")
				a(href="http://web4gsolutions.com/") © 2019 Copyright by Web4G Solutions. All rights reserved.
			.col-lg-4
				.hot-line
					h3 HOTLINE: 0935.605.333
			.col-lg-4
				ul.social-media
					li.item
						a(href="#")
							img(src="./img/icons/facebook.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/instagram.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/twitter.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/printest.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/linkedin.svg", alt="")