footer {
	background: #070707;
	padding   : 55px 0 15px;

	.col-lg-4 {
		border-right : 1px rgba(223, 223, 223, 0.1) solid;
		border-bottom: 1px rgba(223, 223, 223, 0.1) solid;

		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			border-bottom: 0;
			position     : relative;
		}

		&:nth-child(3),
		&:nth-child(6) {
			border-right: 0;
		}

		&:nth-child(4),
		&:nth-child(5) {
			&:after {
				content   : '';
				position  : absolute;
				width     : 80px;
				height    : 50px;
				background: #070707;
				top       : -25px;
				right     : -40px;
			}
		}
	}

	.info-company {
		ul {
			list-style: none;
			padding   : 0;

			li {
				display      : flex;
				margin-bottom: 12px;

				h5,
				span {
					font-size: 14px;
					color    : #888888;
				}

				h5 {
					font-weight  : 700;
					padding-right: 5px;
				}

				span {
					font-weight: 400;
				}

				&:last-child {
					margin-bottom: 30px;
				}
			}
		}
	}

	.list-footer {
		list-style: none;
		padding   : 0;
		text-align: center;

		li {
			margin-bottom: 20px;

			a {
				color     : #888888;
				font-size : 14px;
				transition: .2s all ease-in-out;

				&:hover {
					color: #D82F25;
				}
			}
		}
	}

	.coppy-right {
		padding-top: 15px;

		a {
			display   : block;
			margin-top: 5px;
			font-size : 10px;
			color     : #707070;
		}
	}

	.hot-line-mb {
		display        : none;
		justify-content: center;
		align-items    : center;
		height         : 40px;
		font-size      : 18px;
		font-weight    : 700;
		color          : #A3A3A3;
		background     : #444444;
		border-radius  : 5px;
	}

	.hot-line {
		text-align     : center;
		display        : flex;
		align-items    : center;
		justify-content: center;
		height         : 100%;

		h3 {
			color    : #A3A3A3;
			font-size: 18px;
		}
	}

	.social-media {
		list-style     : none;
		display        : flex;
		padding        : 0;
		justify-content: center;
		align-items    : center;
		height         : 100%;

		.item {
			margin-right: 35px;
		}

		&.mb {
			display: none;
		}
	}


	@media(max-width: 1024px) {
		padding: 25px 0px;

		.hot-line {
			display: none;
		}

		.hot-line-mb {
			display: flex;
		}

		.col-lg-4 {
			border: 0;

			&:after {
				display: none;
			}
		}

		.logo {
			img {
				display: block;
				margin : 0 auto;
			}
		}

		.info-company {
			ul {
				li {
					justify-content: center;

					&:last-child {
						margin-bottom: 20px;
						;
					}
				}
			}
		}

		.list-footer {
			margin-top   : 20px;
			border-bottom: 1px rgba(223, 223, 223, 0.1) solid;
		}

		.social-media {
			display: none;

			&.mb {
				display    : -webkit-box;
				margin-left: 30px;
			}
		}

		.coppy-right {
			.box-img {
				display    : flex;
				align-items: center;
			}
		}
	}
}