.pagination {
	background: #FFFFFF;
	display: flex;
	justify-content: flex-end;
	padding: 20px 10px;

	@media (max-width: 1024.98px) {
		justify-content: center;
	}

	li {
		margin: 0 10px;

		@media (max-width: 1024.98px) {
			margin: 0 5px;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 30px;
			width: 30px;
			color: map-get($mau, den);
			border-radius: 5px;
			font-weight: 700;
			font-size: 12px;
			border: 1px solid map-get($mau, xam-2);
			transition: all .2s cubic-bezier(.2, .5, .5, .8);
		}

		&:hover {
			a {
				background: rgba(map-get($mau, main), .25);
			}
		}

		&.active {
			a {
				text-decoration: underline;
				color: map-get($mau, main);
			}
		}

		&.pagination-dot {
			a {
				border: 0;
			}
		}
	}
}