.project-list
	.container
		.description.d-none
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
		.row
			.col-lg-4
				a(href="duan-ct.html")
					figure.about-project-item
						.imgbox
							img(src="./img/about/7.png", alt="")
						figcaption
							h4 TƯ VẤN LẮP ĐẶT HỆ THỐNG ÂM THANH CHO LAGI RESTAURANT ĐÀ NẴNG
			.col-lg-4
				a(href="duan-ct.html")
					figure.about-project-item
						.imgbox
							img(src="./img/about/8.png", alt="")
						figcaption
							h4 TƯ VẤN LẮP ĐẶT HỆ THỐNG ÂM THANH CHO LAGI RESTAURANT ĐÀ NẴNG
			.col-lg-4
				a(href="duan-ct.html")
					figure.about-project-item
						.imgbox
							img(src="./img/about/9.png", alt="")
						figcaption
							h4 TƯ VẤN LẮP ĐẶT HỆ THỐNG ÂM THANH CHO LAGI RESTAURANT ĐÀ NẴNG
			.col-lg-4
				a(href="duan-ct.html")
					figure.about-project-item
						.imgbox
							img(src="./img/about/10.png", alt="")
						figcaption
							h4 TƯ VẤN LẮP ĐẶT HỆ THỐNG ÂM THANH CHO LAGI RESTAURANT ĐÀ NẴNG
			.col-lg-4
				a(href="duan-ct.html")
					figure.about-project-item
						.imgbox
							img(src="./img/about/11.png", alt="")
						figcaption
							h4 TƯ VẤN LẮP ĐẶT HỆ THỐNG ÂM THANH CHO LAGI RESTAURANT ĐÀ NẴNG
			.col-lg-4
				a(href="duan-ct.html")
					figure.about-project-item
						.imgbox
							img(src="./img/about/12.png", alt="")
						figcaption
							h4 TƯ VẤN LẮP ĐẶT HỆ THỐNG ÂM THANH CHO LAGI RESTAURANT ĐÀ NẴNG
		.row
			include ../_global/pagination.pug