.sub-title {
	font-size: 18px;
	color: map-get($mau, main);
	font-weight: 400;
}

.table-responsive {
	width: 100%;
	display: block;
	overflow: auto;
}


// Css cho button
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s cubic-bezier(.2, .5, .5, .8);
	border: 0;

	&:focus {
		outline: none;
	}
}


.btn-main {
	background: map-get($mau, main);
	color: white;
	font-weight: 700;
	height: 40px;
	border-radius: 15px;
	font-size: 13px;

	&:hover {
		background: darken(map-get($mau, main), 8%)
	}
}