.block-title-2 {
	font-size: 18px;
	color: map-get($mau, main);
	font-weight: 400;
	display: flex;
	align-items: center;

	svg {
		margin-right: 7px;

		path {
			fill: map-get($mau, main)
		}
	}
}

.block-title-3 {
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 23px;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow: auto;

	table {
		width: 100%;
	}
}