@font-face {
	font-family : "Helvetica Neue", sans-serif;
	font-style  : normal;
	font-weight : 700;
	font-display: auto;
	src         : url("../fonts/HELVETICANEUEBOLD.TTF");
	src         : url("../fonts/HELVETICANEUEBOLD.TTF") format("truetype");
}

@font-face {
	font-family : "UTM Avo", sans-serif;
	font-style  : normal;
	font-weight : 400;
	font-display: auto;
	src         : url("../fonts/UTMAVO.TTF");
	src         : url("../fonts/UTMAVO.TTF") format("truetype");
}

@font-face {
	font-family : "UTM Avo", sans-serif;
	font-style  : normal;
	font-weight : 700;
	font-display: auto;
	src         : url("../fonts/UTMAVOBOLD.TTF");
	src         : url("../fonts/UTMAVOBOLD.TTF") format("truetype");
}