.breadcrumb-wrapper {
	.breadcrumb {
		list-style: none;
		display   : flex;
		padding   : 0;

		li {
			a {
				color    : #888888;
				font-size: 12px;
				display  : inline-block;
				padding  : 15px 0 20px;
			}

			&.active {
				a {
					color: #1C1C1C;
				}
			}

			&+li {
				&:before {
					font-family: "Linearicons-Free";
					content    : '\e876';
					font-size  : 10px;
					margin     : 0 12px;
					color      : #1C1C1C;
				}
			}
		}
	}

	@media(max-width: 1024px) {
		display: none;
	}
}