.account-title
	h2.sub-title Thông tin tài khoản
	
.account-change-password-form
	form.row
		.col-12
			.form-group
				label Mật khẩu cũ
				.form-input
					input(type="password", name="")
					//- span.error.mdi.mdi-alert-circle-outline Họ tên không hợp lệ
			.form-group
				label Mật khẩu mới
				.form-input
					input(type="password", name="")
					//- span.error.mdi.mdi-alert-circle-outline Số điện thoại không hợp lệ
			.form-group.form-error
				label Xác nhận mật khẩu mới
				.form-input
					input(type="password", name="")
					span.error.mdi.mdi-alert-circle-outline Email không hợp lệ
		.col-12
			.form-button
				button.btn.btn-main Đổi mật khẩu