.account-change-password-form {
	background: map-get($mau, trang);
	padding: 40px 0;
	border: 1px solid map-get($mau, xam-1);
	border-top: 0;

	form {
		max-width: 495px;
		margin: 0 auto;
	}

	.form-group {
		label {
			flex: 0 0 175px;
			max-width: 175px;

			@media (max-width: 767.98px) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.form-input {
			max-width: 300px;
			flex: 0 0 300px;
		}
	}
}