.account-title {
	padding: 10px 20px;
	background: map-get($mau, xam-2);
	border: 1px solid map-get($mau, xam-1);

	@media (max-width: 1024.98px) {
		padding: 10px;
	}
}

.account {
	padding-bottom: 45px;

	@media (max-width: 1024.98px) {
		padding-top: 30px;
	}

	.form-group {
		display: flex;
		align-items: flex-start;
		margin-bottom: 10px;
		flex-wrap: wrap;

		.error {
			color: map-get($mau, main);
			font-size: 10px;
			display: flex;
			align-items: center;
			flex: 0 0 100%;
			max-width: 100%;

			&:before {
				margin-right: 5px;
				font-size: 16px;
			}
		}

		.form-input,
		.form-radio,
		.form-check {
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
		}

		input[type="text"],
		input[type="password"],
		input[type="date"],
		select {
			height: 40px;
			border-radius: 5px;
			border: 1px solid map-get($mau, xam-1);
			width: 100%;
			display: block;
			font-size: 14px;
			padding: 10px 15px;
		}

		textarea {
			height: 80px;
			border-radius: 5px;
			border: 1px solid map-get($mau, xam-1);
			width: 100%;
			display: block;
			font-size: 14px;
			padding: 10px 15px;
		}

		label {
			line-height: 40px;
			font-size: 14px;

			@media (max-width: 1024.98px) {
				line-height: 1.5;
			}
		}

		.form-radio {
			label {
				padding-left: 20px;
				position: relative;
				cursor: pointer;
				line-height: 1.5;

				&:before {
					content: '';
					position: absolute;
					height: 14px;
					width: 14px;
					left: 0;
					top: 1px;
					border-radius: 50%;
					border: 1px solid map-get($mau, xam-1);
				}
			}

			input[type="radio"] {
				display: none;

				&:checked~label:before {
					box-shadow: inset 0px 0px 0px 2px white;
					background: map-get($mau, main);
				}
			}
		}

		.form-check {
			label {
				position: relative;
				cursor: pointer;
				padding-left: 20px;

				&:before {
					content: '';
					position: absolute;
					width: 15px;
					height: 15px;
					border-radius: 3px;
					border: 1px solid #888888;
					top: 50%;
					transform: translateY(-50%);
					left: 0
				}
			}

			input[type="checkbox"] {
				display: none;

				&:checked~label:before {
					display: flex;
					justify-content: center;
					align-items: center;
					content: '\f12c';
					font-family: "Material Design Icons";
					color: map-get($mau, trang);
					background: map-get($mau, main);
					border: 1px solid map-get($mau, main);
				}
			}
		}

		&.form-error {

			input[type="text"],
			input[type="password"],
			input[type="date"],
			select {
				border: 1px solid map-get($mau, main);
			}
		}
	}

	.form-button {
		margin-top: 30px;

		.btn-main {
			width: 100%;
			max-width: 265px;
			margin: 0 auto;
		}
	}
}