.about-nav {
	padding: 25px 0;

	nav {
		display: flex;
		justify-content: center;
		align-items: center;

		.item {
			height: 35px;
			border-radius: 18px;
			flex: 0 0 240px;
			max-width: 240px;
			margin: 0 10px;

			&.active {
				background: map-get($mau, main);
				color: white;
				border-color: map-get($mau, main);
			}
		}

		@media (max-width: 1199.98px) {
			.item {
				flex: 0 0 180px;
				max-width: 180px;
			}
		}

		@media (max-width: 1024.98px) {
			display: none;
		}
	}

	select {
		margin: 0 auto;
		display: block;
		height: 40px;
		border-radius: 5px;
		width: 100%;
		max-width: 480px;
		option{
			height: 40px;
		}
		@media (min-width: 1025px) {
			display: none;
		}
	}
}