.about-section.about-1--1
	.container
		.row
			.col-lg-11.col-xl-10
				h2.about-title Về chúng tôi
				.row
					.col-lg-6
						.section-content
							p Chúng tôi trân trọng gởi đến Quý khách hàng, đối tác lời chúc Hạnh phúc – Thành công – Thịnh vượng
							p Công ty Giải Pháp Nghe Nhìn A.V.S - AnhDuyen Audio, hoạt động kinh doanh trong lĩnh vực cung cấp thiết bị và giải pháp nghe nhìn gần 20 năm. Công ty đã tư vấn, cung cấp hệ thống âm thanh cho nhiều resort, khách sạn, nhà hàng, Cafe, bar: Empire Resort, Pullman Resort, Fusion Maia, The Nam Hai, Koi Resort, A La Carte Hotel, Cocobay...
							p Với nhiều thành công, hiện nay công ty là đối tác chính thức cho nhiều hãng âm thanh: JBL, Bose, Yamaha, B&W, Harman Kardon,...Tất cả thiết bị âm thanh chúng tôi cung cấp được phân phối và bảo hành chính thức tại Việt Nam. Chúng tôi có đam mê là luôn làm hết mình để mang lại nhiều điều tốt đẹp hơn.
					.col-lg-6
						.imgbox
							img(src="./img/about/13.jpg", alt="")
.about-section.about-1--2
	.container
		.row
			.col-lg-11.col-xl-10
				.row.row-custom
					.col-md-6.about-1--2--item
						.imgbox
							img(src="./img/about/14.jpg")
							.img-hover
								a(href="https://www.youtube.com/watch?v=L9q8vG_sDME" data-fancybox)
									img(src="./img/icons/play-video.svg")
						.content
							h3 CHÍNH TRỰC
							h4 Kinh doanh với tính chính trực.
							p Điều này được xem như là nguyên tắc, là nền tảng cho tất cả công việc & hoạt động của chúng tôi.
					.col-md-6.about-1--2--item
						.imgbox
							img(src="./img/about/15.jpg")
							.img-hover
								a(href="https://www.youtube.com/watch?v=L9q8vG_sDME" data-fancybox)
									img(src="./img/icons/play-video.svg")
						.content
							h3 CAM KẾT
							h4 Luôn lấy khách hàng làm trung tâm.
							p Đây là giá trị quan trọng tạo nên phong cách của chúng tôi: một doanh nghiệp đáng tin cậy, luôn giữ vững uy tín qua những cam kết lâu dài với khách hàng, đối tác, bạn bè
					.col-md-6.about-1--2--item
						.imgbox
							img(src="./img/about/16.jpg")
							.img-hover
								a(href="https://www.youtube.com/watch?v=L9q8vG_sDME" data-fancybox)
									img(src="./img/icons/play-video.svg")
						.content
							h3 GIÁ TRỊ
							h4 Đồng lòng, chúng tôi tạo ra giá trị cho khách hàng.
							p Tất cả giải pháp của chúng tôi luôn nhằm mục tiêu mang thêm giá trị cho khách hàng. Chúng tôi luôn cố gắng hiểu rõ nhu cầu, ước muốn của khách hàng để cung cấp thiết bị và dịch vụ tốt nhất.
							h4 Âm thanh Hay – Cuộc sống Đẹp. 
							p Cũng như Slogan của mình, chúng tôi luôn mang lại nhiều giá trị để cuộc sống tốt đẹp hơn.
					.col-md-6.about-1--2--item
						.imgbox
							img(src="./img/about/15.jpg")
							.img-hover
								a(href="https://www.youtube.com/watch?v=L9q8vG_sDME" data-fancybox)
									img(src="./img/icons/play-video.svg")
						.content
							h3 NHÂN BẢN
							h4 Kinh doanh với tính chính trực.
							p Chúng tôi xây dựng các mối quan hệ với tính nhân văn. Luôn đón nhận những điều mới mẻ để vận dụng vào sự phát triển của công ty &gt; Xem thêm: Tạp chí Nghe - Nhìn Việt Nam: AnhDuyen Audio - 20 năm cùng ngành âm thanh tại Đà Nẵng
.about-section.about-1--3.desktop
	.container
		.row
			.col-lg-11.col-xl-10
				.content
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, pellentesque eu, sem. 
				.imgbox
					img(src="./img/about/18.jpg", alt="")
.about-section.about-1--4.list-clients
	.container
		.row
			.col-lg-11.col-xl-10
				h2.about-title Khách hàng của chúng tôi:
				.clients-slider
					.swiper-container
						.swiper-wrapper
							-for(i=1;i<6;i++)
								.swiper-slide
									.box-img
										a(href="#")
											img(src="./img/list-clients/"+i+".png", alt="")
					.swiper-button-prev
					.swiper-button-next