.about-nav
	.container
		nav
			a.item.btn.btn-outline-black(href="#" data-href="section-1") Về chúng tôi
			a.item.btn.btn-outline-black(href="#" data-href="section-2") Giải pháp
			a.item.btn.btn-outline-black(href="#" data-href="section-3") Về sao chọn chúng tôi
			a.item.btn.btn-outline-black(href="#" data-href="section-4") Dự án