.about-section.about-2--1
	.container
		.row
			.col-lg-11.col-xl-10
				.row
					.col-lg-3.col-xl-4.col-title
						.block-title
							h2.about-title.desktop Giải pháp
							p Chúng tôi luôn cam kết đảm bảo chất lượng giải pháp và dịch vụ thiết kế hệ thống âm thanh cho căn hộ, khách sạn, resort hay phòng họp, trường học.... khách hàng tốt nhất.
					.col-lg
						.row.row-custom
							.col-sm-6.about-2--1--item
								a(href="gioithieu-giaiphap-ct.html")
									.imgbox
										img(src="./img/about/15.jpg")
									.content
										h3 Âm thanh resort
							.col-sm-6.about-2--1--item
								a(href="gioithieu-giaiphap-ct.html")
									.imgbox
										img(src="./img/about/15.jpg")
									.content
										h3 Âm thanh resort
							.col-sm-6.about-2--1--item
								a(href="gioithieu-giaiphap-ct.html")
									.imgbox
										img(src="./img/about/15.jpg")
									.content
										h3 Âm thanh resort
							.col-sm-6.about-2--1--item
								a(href="gioithieu-giaiphap-ct.html")
									.imgbox
										img(src="./img/about/15.jpg")
									.content
										h3 Âm thanh resort
							.col-sm-6.about-2--1--item
								a(href="gioithieu-giaiphap-ct.html")
									.imgbox
										img(src="./img/about/15.jpg")
									.content
										h3 Âm thanh resort
							.col-sm-6.about-2--1--item
								a(href="gioithieu-giaiphap-ct.html")
									.imgbox
										img(src="./img/about/15.jpg")
									.content
										h3 Âm thanh resort