.about-section.about-2.content(tab-id="section-1")
	.container
		.row
			.col-xl-11
				.row
					.col-lg-6
						h2.about-title Về chúng tôi
						.section-content
							p Chúng tôi, Công ty TNHH Giải Pháp Nghe Nhìn A.V.S, trân trọng gởi đến Quý khách hàng, đối tác lời chúc Hạnh phúc –Thành công – Thịnh vượng.
							p Chúng tôi là đối tác chính thức của JBL, Bose, Yamaha, B&W, Electro Voice, Marantz...
							p Tất cả thiết bị âm thanh do chúng tôi cung cấp được phân phối và bảo hành chính thức tại Việt Nam.
					.col-lg-1
					.col-lg-5
						.imgbox
							img(src="./img/about/2.png", alt="")