.about-section.about-3--1
	.container
		.row
			.col-lg-11.col-xl-10
				h2.about-title Vì sao chọn chúng tôi
				p Tại công ty, tất cả mọi hoạt động đều dựa vào giá trị cốt lõi của chúng tôi: Chính trực - Cam kết - Giá trị. Chúng tôi luôn đồng hành cùng các bạn mang lại nhiều giá trị cho khách hàng: đó là một không gian giải trí sang trọng, phòng họp hiện đại, chuẩn mực giúp cho khách hàng của bạn nhận được nhiều giá trị khác biệt khi chọn khách sạn, resort…làm nơi lưu trú, tổ chức hội nghị.
				img(src="./img/about/a3-1.jpg", alt="")
.about-section.about-3--2
	.container
		.row
			.col-lg-11.col-xl-10
				.row.about-3--2--item
					.col-md-6
						.imgbox
							img(src="./img/about/a3-2.jpg", alt="")
					.col-md-6
						.content
							h3 THIẾT BỊ CHÍNH HÃNG - MỨC GIÁ CẠNH TRANH
							p Chúng tôi là một trong những công ty hàng đầu, là đối tác chính thức của nhiều hãng âm thanh hàng đầu trên thế giới: JBL, Bose, Yamaha, Harman Kadon, B&W… chúng tôi nhận được nhiều chính sách ưu đãi về giá, từ đó chúng tôi cam kết cung cấp hàng chính hãng với mức giá tốt nhất, phù hợp với tài chính cũng như đẳng cấp của công trình mà bạn đầu tư.
				.row.about-3--2--item
					.col-md-6
						.imgbox
							img(src="./img/about/a3-3.jpg", alt="")
					.col-md-6
						.content
							h3 THIẾT BỊ CHÍNH HÃNG - MỨC GIÁ CẠNH TRANH
							p Chúng tôi là một trong những công ty hàng đầu, là đối tác chính thức của nhiều hãng âm thanh hàng đầu trên thế giới: JBL, Bose, Yamaha, Harman Kadon, B&W… chúng tôi nhận được nhiều chính sách ưu đãi về giá, từ đó chúng tôi cam kết cung cấp hàng chính hãng với mức giá tốt nhất, phù hợp với tài chính cũng như đẳng cấp của công trình mà bạn đầu tư.
				.row.about-3--2--item
					.col-md-6
						.imgbox
							img(src="./img/about/a3-4.jpg", alt="")
					.col-md-6
						.content
							h3 THIẾT BỊ CHÍNH HÃNG - MỨC GIÁ CẠNH TRANH
							p Chúng tôi là một trong những công ty hàng đầu, là đối tác chính thức của nhiều hãng âm thanh hàng đầu trên thế giới: JBL, Bose, Yamaha, Harman Kadon, B&W… chúng tôi nhận được nhiều chính sách ưu đãi về giá, từ đó chúng tôi cam kết cung cấp hàng chính hãng với mức giá tốt nhất, phù hợp với tài chính cũng như đẳng cấp của công trình mà bạn đầu tư.
				.row.about-3--2--item
					.col-md-6
						.imgbox
							img(src="./img/about/a3-5.jpg", alt="")
					.col-md-6
						.content
							h3 THIẾT BỊ CHÍNH HÃNG - MỨC GIÁ CẠNH TRANH
							p Chúng tôi là một trong những công ty hàng đầu, là đối tác chính thức của nhiều hãng âm thanh hàng đầu trên thế giới: JBL, Bose, Yamaha, Harman Kadon, B&W… chúng tôi nhận được nhiều chính sách ưu đãi về giá, từ đó chúng tôi cam kết cung cấp hàng chính hãng với mức giá tốt nhất, phù hợp với tài chính cũng như đẳng cấp của công trình mà bạn đầu tư.