#section-2.about-section.about-3
	.container
		.row
			.col-lg-10
				.row
					.col-lg
						.img-grid
							.img
								img(src="./img/about/3.png", alt="")
					.col-lg-1
					.col-lg
						h2.about-title Giải pháp
						.content
							p Bạn đang cần thiết kế một hệ thống âm thanh cho căn hộ, khách sạn, resort hay phòng hội thảo, bệnh viện, trường học...
							p Mà bạn chưa biết phải thực hiện như thế nào. Hãy liên hệ với chúng tôi để được tư vấn giải pháp âm thanh tốt nhất cho bạn. Mong muốn đem lại sự hài lòng với khách hàng.
							p Chúng tôi luôn đặt Chất lượng sản phẩm lên hàng đầu, đồng thời luôn có dịch vụ chăm sóc khách hàng tốt nhất. Chúng tôi luôn cam kết đảm bảo chất lượng cũng như dịch vụ khách hàng tốt nhất.
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.