.about-3--1 {
  text-align: center;
  p {
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 15px;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }

  .about-title {
    color: map-get($mau, main);
    margin-bottom: 10px;
  }
  img {
    display: block;
    max-width: 660px;
    margin: 42px auto 0 auto;
    width: 100%;
  }

  @media (max-width: 1199.98px) {
    .col-lg-1 {
      display: none;
    }
  }

  @media (max-width: 1024.98px) {
    text-align: justify;
    .about-title {
      text-align: center;
    }
    .col-lg:first-child {
      order: 3;
    }

    .col-lg:last-child {
      order: 1;
    }
  }
}

.about-3--2 {
  background-color: #f6f6f6;
  @media (max-width: 1024.98px) {
    padding-top: 30px;
  }
}

.about-3--2--item {
  .imgbox,
  .content {
    padding: 10px;
  }
  .content {
    height: 100%;
  }
  .imgbox {
    img {
      width: 100%;
    }
  }
  .col-md-6 {
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(1) {
      order: 2;
    }
  }
  h3 {
    font-size: 23px;
    @media (max-width: 1199.98px) {
      font-size: 21px;
    }
    @media (max-width: 1024.98px) {
      font-size: 19px;
    }
    @media (max-width: 767.98px) {
      font-size: 17px;
    }
  }
  p {
    font-size: 16px;
    @media (max-width: 1199.98px) {
      font-size: 15px;
    }
    @media (max-width: 767.98px) {
      font-size: 14px;
    }
  }
  + .about-3--2--item {
    margin-top: 30px;
  }
  @media (min-width: 768px) {
    &:nth-child(odd) {
      .col-md-6 {
        &:nth-child(2) {
          order: 2;
        }
        &:nth-child(1) {
          order: 1;
        }
      }
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

.about-ajax {
  .pagination {
    margin-top: 10px;
    margin-bottom: 35px;
    li {
      a {
        font-size: 16px;
        color: #868686;
        font-weight: 700;
        width: 35px;
        height: 35px;
        border: 0;
      }
    }
    li.active {
      a {
        background-color: map-get($mau, main);
        color: white;
        text-decoration: none;
      }
    }
  }
}
