.about-3 {
	background: #F6F6F6;
	padding: 60px 0;

	.row {
		justify-content: center;
	}

	.img-grid {
		.img {
			max-width: 500px;
			margin: 0 auto;

			img {
				width: 100%;
			}
		}
	}

	@media (max-width: 1199.98px) {
		.col-lg-1 {
			display: none;
		}
	}

	@media (max-width: 1024.98px) {
		padding-top: 20px;
		padding-bottom: 10px;

		.col-lg:first-child {
			order: 3
		}

		.col-lg:last-child {
			order: 1
		}
	}
}