.about-section.about-4
	.container
		.row.jc-c
			.col-lg-11.col-xl-10
				.row.row-custom
					-for(let i = 2; i<=21;i++)
						//- .col-6.col-md-4.about-4--item--col
						//- 	.about-4--item
						//- 		.imgbox
						//- 			a(href="./img/about/a4-"+i+".jpg" data-fancybox="duan-"+i)
						//- 				img(src="./img/about/a4-"+i+".jpg", alt="")
						//- 		.content
						//- 			h3 Tổng hợp các dự án tiêu biểu
						//- 		.d-none
						//- 			a(href="./img/about/a4-15.jpg" data-fancybox="duan-"+i)
						//- 				img(src="./img/about/a4-"+i+".jpg", alt="")
						//- 			a(href="./img/about/a4-15.jpg" data-fancybox="duan-"+i)
						//- 				img(src="./img/about/a4-"+i+".jpg", alt="")
						//- 			a(href="./img/about/a4-15.jpg" data-fancybox="duan-"+i)
						//- 				img(src="./img/about/a4-"+i+".jpg", alt="")
						//- 			a(href="./img/about/a4-15.jpg" data-fancybox="duan-"+i)
						//- 				img(src="./img/about/a4-"+i+".jpg", alt="")
						.col-6.col-md-4.about-4--item--col
							a(href="#")
								figure.about-project-item
									.imgbox
										img(src="./img/about/a4-"+i+".jpg", alt="")
									figcaption
										h4 COCOBAY: LẮP ĐẶT HỆ THỐNG ÂM THANH BOXING, COCOSIT,...

				.row
					.col-12
						include ../_global/pagination.pug