.about-4 {
	background: white;

	.row {
		justify-content: center;

		>.col-lg-10 {
			.col-lg:nth-child(1) {
				order: 3;
			}

			.col-lg:nth-child(3) {
				order: 1;
			}

			.col-lg-1 {
				order: 2;
			}
		}
	}

	.imgbox {
		@media (max-width: 1024.98px) {
			margin-bottom: 15px;
		}

		img {
			width: 100%;
		}

		a {
			display: block;
			position: relative;

			&:before {
				content: '';
				background-image: url("../img/play_video.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 75px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 2;
			}

			&:after {
				content: '';
				background: rgba(black, .6);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
			}
		}
	}
}