.about-section.about-5
	.container
		.row
			.col-lg-11.col-xl-10
				h2.about-title ÂM THANH CAFE - NHÀ HÀNG
				p Khi bước chân vào cafe - nhà hàng, thực khách không chỉ có nhu cầu thưởng thức những món ăn, nước uống ngon mà còn muốn tận hưởng không gian và âm nhạc. Vì thế, việc trang bị một hệ thống âm thanh là tất yếu.
				.content-wrapper
					.row
						.col-md-6
							.content
								h4 Giải pháp xây dựng trên các tiêu chí:
								ul
									li - Vị trí, không gian khác nhau sẽ có âm nhạc và hệ thống âm thanh khác nhau
									li - Định vị và không gian âm nhạc để xác định là giải pháp âm thanh nhạc nền hay nhạc sống, liveband, DJ,...
								h4 Đảm bảo chức năng âm thanh: 
								p Âm thanh phải rõ ràng, mạnh mẽ, trong trẻo khi cần thiết - Đảm bảo tính cạnh tranh về giá - Bền đẹp, phù hợp với thiết kế thẩm mỹ không gian - Tính tiện lợi khi sử dụng.
						.col-md-6
							.imgbox
								img(src="./img/about/a3-2.jpg", alt="")
					.row
						.col-md-6
							.content
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, pellentesque eu, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						.col-md-6
							.imgbox
								img(src="./img/about/a3-5.jpg", alt="")
.about-section.about-5--2
	.container
		.row
			.col-lg-11.col-xl-10
				h2.about-title Những giải pháp đã thực hiện
				.about-5--2-slider
					.swiper-button-prev
					.swiper-button-next
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.about-2--1--item
									a(href="gioithieu-giaiphap-ct.html")
										.imgbox
											img(src="./img/about/15.jpg")
										.content
											h3.lcl.lcl-2 COCOBAY: LẮP ĐẶT HỆ THỐNG ÂM THANH BOXING, COCOSIT,...
							.swiper-slide
								.about-2--1--item
									a(href="gioithieu-giaiphap-ct.html")
										.imgbox
											img(src="./img/about/15.jpg")
										.content
											h3.lcl.lcl-2 Lắp đặt hệ thống loa BOSE tại khách sạn Four Points by Sheraton
							.swiper-slide
								.about-2--1--item
									a(href="gioithieu-giaiphap-ct.html")
										.imgbox
											img(src="./img/about/15.jpg")
										.content
											h3.lcl.lcl-2 TỔNG HỢP MỘT SỐ DỰ ÁN TIÊU BIỂU ĐÃ THỰC HIỆN
							.swiper-slide
								.about-2--1--item
									a(href="gioithieu-giaiphap-ct.html")
										.imgbox
											img(src="./img/about/15.jpg")
										.content
											h3.lcl.lcl-2 LẮP ĐẶT HỆ THỐNG ÂM THANH HI-END TẠI BIỆT THỰ - CĂN HỘ
							.swiper-slide
								.about-2--1--item
									a(href="gioithieu-giaiphap-ct.html")
										.imgbox
											img(src="./img/about/15.jpg")
										.content
											h3.lcl.lcl-2 LẮP ĐẶT HỆ THỐNG ÂM THANH HI-END TẠI BIỆT THỰ - CĂN HỘ
