.container
	.row.row-about-nav
		.col-lg-11.col-xl-10
			.about-nav
				nav
					a.item.btn.btn-outline-black(href='gioithieu-visaochonchungtoi.html') Vì sao chọn chúng tôi
					a.item.btn.btn-outline-black(href='duan-2.html') Dự án
					a.item.btn.btn-outline-black(href='gioithieu-vechungtoi.html') Về chúng tôi
					a.item.btn.btn-outline-black(href='gioithieu-giaiphap.html') Giải pháp