.about-nav {
  padding: 25px 0;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
      height: 35px;
      border-radius: 18px;
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%;
      margin: 0 10px;
      text-transform: uppercase;
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 4;
      }
      &:nth-child(3) {
        order: 1;
      }
      &:nth-child(4) {
        order: 3;
      }

      &.active {
        background: map-get($mau, main);
        color: white;
        border-color: map-get($mau, main);
      }
    }

    @media (max-width: 1024.98px) {
      flex-wrap: wrap;

      .item {
        font-size: 12px;
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 48%;
        max-width: 48%;
        margin: 10px 1% 0 1%;
      }
    }
  }
}

.row-about-nav{
	justify-content: center;
}