.container
	.about-nav
		nav
			a.item.btn.btn-outline-black.active(href='gioithieu-vechungtoi.html') Về chúng tôi
			a.item.btn.btn-outline-black(href='gioithieu-giaiphap.html') Giải pháp
			a.item.btn.btn-outline-black(href='gioithieu-visaochonchungtoi.html') Về sao chọn chúng tôi
			a.item.btn.btn-outline-black(href='gioithieu-duan.html') Dự án