.block-title-filter
	img(src="./img/icons/filter.svg", alt="", srcset="")
	h2 Lọc
.block-filter
	.price
		h3.title Mức giá
		input(type="range" min="1" max="100" value="50" class="rangeSlider" id="rangeSlider")
		.about-price
			span Dưới 5,000,000₫
			span Trên 100,000,000₫
	.brand
		h3.title Thương hiệu
		.search
			input(type="text" placeholder="Nhập thương hiệu")
			button
				img(src="./img/icons/timkiem.svg", alt="", srcset="")
		.check-box
			.form-group
				input#yamaha(hidden checked type="checkbox")
				label(for="yamaha") Yamaha
			.form-group
				input#BW(hidden type="checkbox")
				label(for="BW") B&W
			.form-group
				input#Jamo(hidden type="checkbox")
				label(for="Jamo") Jamo
			.form-group
				input#SonusFaber(hidden type="checkbox")
				label(for="SonusFaber") Sonus faber
			.form-group
				input#Mcintosh(hidden type="checkbox")
				label(for="Mcintosh") Mcintosh
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
.block-title-filter
	img(src="./img/icons/mega-menu.svg", alt="", srcset="")
	h2 DANH MỤC SẢN PHẨM
.block-filter
	ul.category-list
		//- ITEM 01
		li.item-category
			h3 BỘ DÀN
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 02
		li.item-category
			h3 AMPLY
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 03
		li.item-category
			h3 CỤC ĐẨY
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 04
		li.item-category
			h3 MIXER
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 05
		li.item-category
			h3 ĐẦU PHÁT
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 06
		li.item-category
			h3 LOA CÔNG NGHỆ & TAI NGHE
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 07
		li.item-category
			h3 PHỤ KIỆN
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 08
		li.item-category
			h3 TỔNG HỢP
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle
		//- ITEM 09
		li.item-category
			h3 CÁC THƯƠNG HIỆU ÂM THANH
			ul.list-item
				h4 LOA
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end (2340)
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="13") B&A
									span (234)
							li.item-child
								a(href="#" data-product="123") B&Tanoy
									span (123)
							li.item-child
								a(href="#" data-product="13") JBL
									span (456)
							li.item-child
								a(href="#" data-product="13") Sonus faber
									span (789)
							li.item-child
								a(href="#" data-product="13") Paradigm
									span (987)
							li.item-child
								a(href="#" data-product="13") Triangle