.block-title-filter
	img(src="./img/icons/filter.svg", alt="", srcset="")
	h2 Lọc
.block-filter
	.price
		h3.title Mức giá
		input(type="range" min="1" max="100" value="50" class="rangeSlider" id="rangeSlider")
		.about-price
			span Dưới 5,000,000₫
			span Trên 100,000,000₫
	.brand
		h3.title Thương hiệu
		.search
			input(type="text" placeholder="Nhập thương hiệu")
			button
				img(src="./img/icons/timkiem.svg", alt="", srcset="")
		.check-box
			.form-group
				input#yamaha(hidden checked type="checkbox")
				label(for="yamaha") Yamaha
			.form-group
				input#BW(hidden type="checkbox")
				label(for="BW") B&W
			.form-group
				input#Jamo(hidden type="checkbox")
				label(for="Jamo") Jamo
			.form-group
				input#SonusFaber(hidden type="checkbox")
				label(for="SonusFaber") Sonus faber
			.form-group
				input#Mcintosh(hidden type="checkbox")
				label(for="Mcintosh") Mcintosh
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
.block-title-filter
	img(src="./img/icons/filter.svg", alt="", srcset="")
	h2 DANH MỤC SẢN PHẨM
.block-filter