.block-title-filter
	<svg xmlns="http://www.w3.org/2000/svg" width="14.864" height="12.716" viewBox="0 0 14.864 12.716"><g id="noun_filter_2664583" transform="translate(0 0)"><g id="Group_3232" data-name="Group 3232"><path id="Path_1537" data-name="Path 1537" d="M6.247,7.062H2.531A.531.531,0,1,1,2.531,6H6.247a.531.531,0,1,0,0,1.062Z" transform="translate(-2 -4.951)" fill="#fff"/><path id="Path_1538" data-name="Path 1538" d="M20.617,6.531a.531.531,0,0,1-.531.531H10A.531.531,0,1,0,10,6H20.086A.531.531,0,0,1,20.617,6.531Z" transform="translate(-5.753 -4.951)" fill="#fff"/><path id="Path_1539" data-name="Path 1539" d="M12.617,16.062H2.531a.531.531,0,0,1,0-1.062H12.617a.531.531,0,1,0,0,1.062Z" transform="translate(-2 -9.173)" fill="#fff"/><path id="Path_1540" data-name="Path 1540" d="M26.247,15.531a.531.531,0,0,1-.531.531H22A.531.531,0,1,0,22,15h3.716A.531.531,0,0,1,26.247,15.531Z" transform="translate(-11.383 -9.173)" fill="#fff"/><path id="Path_1541" data-name="Path 1541" d="M6.247,25.062H2.531a.531.531,0,1,1,0-1.062H6.247a.531.531,0,1,0,0,1.062Z" transform="translate(-2 -13.395)" fill="#fff"/><path id="Path_1542" data-name="Path 1542" d="M20.617,24.531a.531.531,0,0,1-.531.531H10A.531.531,0,1,0,10,24H20.086A.531.531,0,0,1,20.617,24.531Z" transform="translate(-5.753 -13.395)" fill="#fff"/><path id="Path_1543" data-name="Path 1543" d="M9.98,23.532a1.062,1.062,0,1,0,.143.531A1.062,1.062,0,0,0,9.98,23.532Zm-1.449.531a.531.531,0,1,1,.531.531A.531.531,0,0,1,8.531,24.063Z" transform="translate(-4.815 -12.928)" fill="#fff"/><path id="Path_1544" data-name="Path 1544" d="M10.09,23.073a1.593,1.593,0,0,0-2.994,0,1.524,1.524,0,0,0,0,1.062,1.593,1.593,0,0,0,2.994,0A1.524,1.524,0,0,0,10.09,23.073Zm-.966.531a.531.531,0,1,1-.531-.531A.531.531,0,0,1,9.124,23.6Z" transform="translate(-4.346 -12.468)" fill="#fff"/><path id="Path_1545" data-name="Path 1545" d="M21.98,14.532a1.062,1.062,0,1,0,.143.531A1.062,1.062,0,0,0,21.98,14.532Zm-1.449.531a.531.531,0,1,1,.531.531A.531.531,0,0,1,20.531,15.063Z" transform="translate(-10.444 -8.705)" fill="#fff"/><path id="Path_1546" data-name="Path 1546" d="M22.09,14.073a1.593,1.593,0,0,0-2.994,0,1.524,1.524,0,0,0,0,1.062,1.593,1.593,0,0,0,2.994,0A1.524,1.524,0,0,0,22.09,14.073Zm-.966.531a.531.531,0,1,1-.531-.531A.531.531,0,0,1,21.124,14.6Z" transform="translate(-9.975 -8.246)" fill="#fff"/><path id="Path_1547" data-name="Path 1547" d="M9.98,5.532a1.062,1.062,0,1,0,.143.531A1.062,1.062,0,0,0,9.98,5.532Zm-1.449.531a.531.531,0,1,1,.531.531A.531.531,0,0,1,8.531,6.063Z" transform="translate(-4.815 -4.483)" fill="#fff"/><path id="Path_1548" data-name="Path 1548" d="M10.09,5.073a1.593,1.593,0,0,0-2.994,0,1.524,1.524,0,0,0,0,1.062,1.593,1.593,0,0,0,2.994,0,1.524,1.524,0,0,0,0-1.062ZM9.124,5.6a.531.531,0,1,1-.531-.531A.531.531,0,0,1,9.124,5.6Z" transform="translate(-4.346 -4.024)" fill="#fff"/></g></g></svg>
	h2 LỌC
.block-filter
	.price
		h3.title Mức giá:
		#value-text
		input(type="text" id="amount" readonly hidden)
		#slider-range(data-min=5000000, data-max=100000000, data-current-min=6500000, data-current-max=78000000)
		.about-price
			span Dưới 5,000,000₫
			span Trên 100,000,000₫
	.brand
		h3.title Thương hiệu
		.search
			input(type="text" placeholder="Nhập thương hiệu")
			button
				img(src="./img/icons/timkiem.svg", alt="")
		.check-box
			.form-group
				input#yamaha(hidden checked type="checkbox")
				label(for="yamaha") Yamaha
			.form-group
				input#BW(hidden type="checkbox")
				label(for="BW") B&W
			.form-group
				input#Jamo(hidden type="checkbox")
				label(for="Jamo") Jamo
			.form-group
				input#SonusFaber(hidden type="checkbox")
				label(for="SonusFaber") Sonus faber
			.form-group
				input#Mcintosh(hidden type="checkbox")
				label(for="Mcintosh") Mcintosh
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
			.form-group
				input#Text(hidden type="checkbox")
				label(for="Text") Text
.block-title-filter.mt-15.hide-in-mobile
	img(src="./img/icons/mega-menu.svg", alt="")
	h2 DANH MỤC SẢN PHẨM
.block-filter.hide-in-mobile
	ul.category-list
		//- ITEM 01
		li.item-category
			h3 BỘ DÀN
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2").active B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 02
		li.item-category
			h3 AMPLY
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 03
		li.item-category
			h3 CỤC ĐẨY
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 04
		li.item-category
			h3 CỤC MIXER
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 05
		li.item-category
			h3 ĐẦU PHÁT
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 06
		li.item-category
			h3 LOA CÔNG NGHỆ & TAI NGHE
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 07
		li.item-category
			h3 PHỤ KIỆN
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 08
		li.item-category
			h3 TỔNG HỢP
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)
		//- ITEM 09
		li.item-category
			h3 CÁC THƯƠNG HIỆU ÂM THANH
			ul.list-item
				-for(i=0;i<15;i++)
					li.item
						h5 Loa hi -end 
							span
						span.mdi.mdi-plus
						ul.child
							li.item-child
								a(href="#" data-product="1") B&A
									span (1)
							li.item-child
								a(href="#" data-product="2") B&Tanoy
									span (2)
							li.item-child
								a(href="#" data-product="3") JBL
									span (3)
							li.item-child
								a(href="#" data-product="4") Sonus faber
									span (4)
							li.item-child
								a(href="#" data-product="5") Paradigm
									span (5)
							li.item-child
								a(href="#" data-product="6") Triangle
									span (6)