figure {
	.box-img {
		display        : flex;
		align-items    : center;
		justify-content: center;
		overflow       : hidden;
		max-width      : 235px;
		height         : 235px;

		img {
			max-width : 100%;
			height    : auto;
			object-fit: cover;
		}
	}

	figcaption {
		h3 {
			font-size    : 15px;
			color        : #D82F25;
			font-weight  : 400;
			margin-bottom: 15px;
		}

		p {
			font-size    : 12px;
			color        : #949494;
			margin-bottom: 10px;

			overflow          : hidden;
			display           : -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		span {
			display      : block;
			font-size    : 15px;
			color        : #1C1C1C;
			text-align   : center;
			padding      : 3px 0;
			border       : 1px solid #DFDFDF;
			border-radius: 30px;
		}
	}
}