section
	.container
		.row
			.col-lg-auto
				.slider-imgProduct
					.swiper-container.gallery-top
						.swiper-wrapper
							.swiper-slide
								figure
									img(src="./img/home-product/detail.png", alt="")
							.swiper-slide
								figure
									img(src="./img/home-product/detail.png", alt="")
							.swiper-slide
								figure
									img(src="./img/home-product/detail.png", alt="")
							.swiper-slide
								figure
									img(src="./img/home-product/detail.png", alt="")
					.gallery-thumbs-wrapper
						.swiper-container.gallery-thumbs
							.swiper-wrapper
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
						.swiper-button-prev
						.swiper-button-next