.saleOff-product {
	padding-bottom: 40px;

	.block-title-custom {
		margin-top: 30px;
		background: transparent;
		border-bottom: 0;

		h2 {
			color: #1c1c1c;
		}
	}

	@media(max-width: 1024px) {
		.container {
			padding: 0;

			.row {
				margin: 0;
				padding: 0 10px;
			}
		}
	}
}