.product-summary {
	background: #FFFFFF;
	padding-bottom: 40px;

	.product-image {
		.slider-imgProduct {
			display: flex;

			.gallery-top {
				flex: 0 0 527px;
				max-width: 527px;

				figure {
					border-radius: 5px;
					overflow: hidden;
				}
			}

			.gallery-thumbs-wrapper {
				position: relative;
				flex: 0 0 90px;
				max-height: 100%;
				max-width: 90px;
				margin-left: 150px;

				.swiper-button-prev,
				.swiper-button-next {
					background-size: 20px;
					bottom: 0;
					top: unset;
					width: 27px;
					height: 27px;
				}

				.swiper-button-next {
					background-image: url(../img/icons/down-slider-item-detail.svg);
				}

				.swiper-button-prev {
					background-image: url(../img/icons/up-slider-item-detail.svg);


					&::after {
						position: absolute;
						top: 5px;
						background: #dfdfdf;
						width: 2px;
						height: 23px;
						content: "";
						left: 130%;
					}
				}

				.gallery-thumbs {
					height: 485px;
					margin-top: 15px;
					width: 100%;

					.swiper-slide {
						figure {
							position: relative;
							border-radius: 5px;
							overflow: hidden;
							opacity: .5;
							cursor: pointer;
							transition: .2s all ease-in-out;
							border-bottom: 2px solid transparent;
						}

						&.swiper-slide-thumb-active {
							figure {
								opacity: 1;
								border-bottom: 2px solid #D82F25;
							}
						}
					}
				}
			}
		}

		.social-media {
			display: flex;
			margin-top: 30px;
			list-style-type: none;

			.item {
				margin-right: 35px;
			}
		}
	}

	.product-cart {
		padding-left: 100px;

		.info-summary {

			h2 {
				position: relative;
				font-size: 30px;
				color: #484848;
				font-weight: 700;
				margin-top: 13px;

				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					top: 100%;
					left: 0;
					background: #DFDFDF;
					margin-top: 15px;
				}
			}

			h4 {
				display: inline-block;
				position: relative;
				font-size: 18px;
				color: #949494;
				font-weight: 400;
				background: #FFFFFF;
				margin-bottom: 10px;

				span {
					padding-right: 17px;
				}
			}

			p {

				text-align: justify;
				font-size: 15px;
				min-height: 200px;
				color: #1C1C1C;
				margin-bottom: 50px;

				-webkit-line-clamp: 10;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.chooes-quantity-color {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 30px;
				border-bottom: 1px solid #DFDFDF;

				.quantity,
				.color-item {
					h5 {
						font-weight: 400;
						font-size: 15px;
						margin-bottom: 20px;
					}
				}

				.quantity-input {
					display: flex;
					margin-right: 115px;

					span,
					input {
						flex: 0 0 30px;
						max-width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						cursor: pointer;
						border: none;
						color: #888888;
					}

					input {
						font-size: 24px;
						color: #1C1C1C;
						flex: 0 0 50px;
						max-width: 50px;
					}
				}

				.list-color {
					display: flex;
					min-height: 30px;
					align-items: center;

					.color {
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background: rgba(223, 223, 223, 0.85);
						margin-right: 22px;
						cursor: pointer;

						&.c-1 {
							background: #888888;
						}

						&.c-2 {
							background: #1C1C1C;
						}

						&.c-3 {
							background: #D82F25;
						}

						&.active {
							box-shadow: 0 0 0 5px rgba(223, 223, 223, 0.85);
						}
					}
				}
			}

			.block-price {
				display: flex;
				justify-content: space-between;
				margin-top: 50px;
				flex-wrap: wrap;

				.price {
					.amount {
						font-size: 24px;
						color: #D82F25;
						letter-spacing: 3px;
					}

					.sale-price {
						font-size: 15px;
						color: #949494;
					}
				}

				.add-cart {
					font-size: 18px;
					color: #FFFFFF;
					border: none;
					background: #D82F25;
					padding: 0 30px;
					border-radius: 15px;
					line-height: 58px;
				}
			}
		}
	}


	@media (max-width: 1024.98px) {
		padding-bottom: 18px;

		.product-image {
			padding: 20px;

			.slider-imgProduct {
				display: block;

				.gallery-top {
					flex: 0 0 100%;
					max-width: 100%;
				}

				.gallery-thumbs-wrapper {
					flex: 100%;
					max-width: 100%;
					max-height: unset;
					margin-left: 0;
					margin-top: 10px;
					padding: 0 30px;

					.gallery-thumbs {
						height: 100%;
						width: 100%;

						.swiper-slide {
							figure {
								position: relative;
								border-radius: 5px;
								overflow: hidden;
								opacity: .5;
								cursor: pointer;
								transition: .2s all ease-in-out;
							}
						}
					}

					.swiper-button-prev,
					.swiper-button-next {
						background-size: 20px;
						top: 50%;
						transform: translateY(-50%)rotate(-90deg);
						margin-top: 0;
					}

					.swiper-button-next {
						right: 0;
					}

					.swiper-button-prev {
						left: 0;

						&::after {
							display: none;
						}
					}
				}
			}

			.social-media {
				display: none;
			}
		}

		.product-cart {
			padding: 0 20px;

			.info-summary {
				h2 {
					font-size: 18px;
					color: #484848;
					margin-top: 0;

					&:after {
						display: none;
					}
				}

				h4 {
					font-size: 12px;
					color: #949494;
					font-weight: 400;
					background: #FFFFFF;
					margin-bottom: 10px;

					span {
						padding-right: 0;
					}
				}

				p {
					margin-top: 15px;
					font-size: 12px;
					min-height: 55px;
					-webkit-line-clamp: 3;
				}

				.chooes-quantity-color {
					padding-bottom: 0;
					border-bottom: 0;

					.quantity,
					.color-item {
						h5 {
							font-weight: 400;
							font-size: 12px;
							margin-bottom: 15px;
						}
					}

					.quantity-input {
						margin-right: 115px;

						span,
						input {
							flex: 0 0 20px;
							max-width: 20px;
						}

						input {
							font-size: 16px;
						}
					}

					.list-color {
						display: flex;
						min-height: 30px;
						align-items: center;

						.color {
							width: 20px;
							height: 20px;
							border-radius: 50%;
							background: rgba(223, 223, 223, 0.85);
							margin-right: 22px;
							cursor: pointer;

							&.c-1 {
								background: #888888;
							}

							&.c-2 {
								background: #1C1C1C;
							}

							&.c-3 {
								background: #D82F25;
							}

							&.active {
								box-shadow: 0 0 0 5px rgba(223, 223, 223, 0.85);
							}
						}
					}
				}

				.block-price {
					margin-top: 35px;

					.price {
						.amount {
							font-size: 18px;
						}

						.sale-price {
							font-size: 14px;
						}
					}

					.add-cart {
						font-size: 16px;
						border: none;
						padding: 0 20px;
						border-radius: 15px;
						line-height: 45px;
					}
				}
			}
		}
	}
}