//- TÓM TẮT SẢN PHẨM
section.product-summary
	.container
		.row
			//- HÌNH ẢNH SẢN PHẨM
			.col-lg-auto.product-image
				.slider-imgProduct
					.swiper-container.gallery-top
						.swiper-wrapper
							.swiper-slide
								figure
									img.ofc(src="./img/home-product/detail.png", alt="")
							.swiper-slide
								figure
									img.ofc(src="./img/home-product/detail.png", alt="")
							.swiper-slide
								figure
									img.ofc(src="./img/home-product/detail.png", alt="")
							.swiper-slide
								figure
									img.ofc(src="./img/home-product/detail.png", alt="")
							.swiper-slide
								figure
									img.ofc(src="./img/home-product/detail.png", alt="")
					.gallery-thumbs-wrapper
						.swiper-container.gallery-thumbs
							.swiper-wrapper
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
								.swiper-slide
									figure
										img(src="./img/home-product/detail.png", alt="")
						.swiper-button-prev
						.swiper-button-next
				ul.social-media
					li.item.social-facebook
						a(href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank")
							img(src="./img/icons/fb-sp-ct.svg", alt="fb san pham")
					//- li.item
					//- 	a(href="#")
					//- 		img(src="./img/icons/instagram-sp-ct.svg", alt="")
					li.item.social-twitter
						a(href="https://twitter.com/intent/tweet?text=" target="_blank")
							img(src="./img/icons/twitter-sp-ct.svg", alt="twiter san pham")
					li.item.social-pinterest
						a(href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank")
							img(src="./img/icons/printest-sp-ct.svg", alt="pinterest san pham")
					li.item.social-linkedin
						a(href="https://pinterest.com/pin/create/button/?url=&media=&description=" target="_blank")
							img(src="./img/icons/linkedin-sp-ct.svg", alt="linkedin san pham")
			//- THÔNG TIN GIỎ HÀNG
			.col-lg.product-cart
				.info-summary
					h2 Loa Jamo 426 HCS
					h4 Thương hiệu: 
						span Parapax
					.rate(data-rate)
						.img-star
							.star
							.star-rated
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget...
					.chooes-quantity-color
						.quantity
							h5 Số lượng
							.quantity-input
								span.minus -
								input.quantity(type="" value="1")
								span.plus +
						.color-item
							h5 Chọn màu
							.list-color
								span.color.c-1
								span.color.c-2
								span.color.c-3.active
					.block-price
						.price
							.amount 9.490.000 ₫
							.sale-price
								del 12.390.000 ₫
						a.btn-tragop(href="#") Trả góp
						a.add-cart(data-propertyid="" href="giohang.html") Mua ngay