//- TÓM TẮT SẢN PHẨM
section.product-summary(data-theme="ver-2")
	.container
		.row
			//- HÌNH ẢNH SẢN PHẨM
			.col-lg-auto.product-image
				.slider-imgProduct
					.swiper-container.gallery-top
						.swiper-wrapper
							.swiper-slide
								figure
									img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anh-bia.jpg", alt="")
							.swiper-slide
								figure
									img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anhduyen-02.jpg", alt="")
							.swiper-slide
								figure
									img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anhduyen01.jpg", alt="")
							.swiper-slide
								figure
									img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anhduyen03.jpg", alt="")
							.swiper-slide
								figure
									img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-chinh-hang.jpg", alt="")
							.swiper-slide
								figure
									img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-connect-01.jpg", alt="")
					.gallery-thumbs-wrapper
						.swiper-container.gallery-thumbs
							.swiper-wrapper
								.swiper-slide
									figure
										img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anh-bia.jpg", alt="")
								.swiper-slide
									figure
										img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anhduyen-02.jpg", alt="")
								.swiper-slide
									figure
										img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anhduyen01.jpg", alt="")
								.swiper-slide
									figure
										img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-anhduyen03.jpg", alt="")
								.swiper-slide
									figure
										img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-chinh-hang.jpg", alt="")
								.swiper-slide
									figure
										img.ofc(src="https://anhduyenaudio.vn/Upload/Product/8945be37-ebdb-4e7f-9932-1f0e4717a4f0/airpods-2-connect-01.jpg", alt="")
						.swiper-button-prev
						.swiper-button-next
				ul.social-media
					li.item.social-facebook
						a(href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank")
							img(src="./img/icons/fb-sp-ct.svg", alt="fb san pham")
					//- li.item
					//- 	a(href="#")
					//- 		img(src="./img/icons/instagram-sp-ct.svg", alt="")
					li.item.social-twitter
						a(href="https://twitter.com/intent/tweet?text=" target="_blank")
							img(src="./img/icons/twitter-sp-ct.svg", alt="twiter san pham")
					li.item.social-pinterest
						a(href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank")
							img(src="./img/icons/printest-sp-ct.svg", alt="pinterest san pham")
					li.item.social-linkedin
						a(href="https://pinterest.com/pin/create/button/?url=&media=&description=" target="_blank")
							img(src="./img/icons/linkedin-sp-ct.svg", alt="linkedin san pham")
			//- THÔNG TIN GIỎ HÀNG
			.col-lg.product-cart
				.info-summary
					h2 Loa Jamo 426 HCS
					h4 Thương hiệu: 
						span Parapax
					.rate(data-rate)
						.img-star
							.star
							.star-rated
					p Đầu năm 2019, Apple cho ra mắt tai nghe thông minh Appe Airpods 2 với những cái tiến nổ bật, hấp dẫn. Tai nghe Apple Airppods 2 là dòng tai nghe true wireless đúng nghĩa khi được thiết kế hoàn toàn không dây. Tai nghe Airpods 2 của Apple cho thấy vẻ ngoài hiện đại nhưng không kém phần tinh tế, phù hợp với hầu như tất cả mọi người. Chiếc tai nghe không đơn thuần là thiết bị âm thanh mà còn như một món phụ kiện sành điệu cho người dùng ở bất kì đâu.
					.chooes-quantity-color
						.quantity
							h5 Số lượng
							.quantity-input
								span.minus -
								input.quantity(type="" value="1")
								span.plus +
						.color-item
							h5 Chọn màu
							.list-color
								span.color.c-1
								span.color.c-2
								span.color.c-3.active
					.block-price
						.price
							.amount 5,520,000 ₫
							//- .sale-price
							//- 	del 12.390.000 ₫
						a.btn-tragop(href="#") Trả góp
						a.add-cart(data-propertyid="" href="giohang.html") Mua ngay