.tabs-info-product {
	margin-top: 30px;

	#tabs {
		background   : #FFFFFF;
		border-radius: 5px;
		box-shadow   : 0 3px 6px rgba($color: #000000, $alpha: 0.16);
		padding-top  : 60px;

		.list-tabs {
			margin-left: 35px;

			.item {
				font-size    : 18px;
				color        : #1C1C1C;
				margin-bottom: 10px;
				cursor       : pointer;

				&.active {
					color          : #D82F25;
					text-decoration: underline;
				}
			}
		}

		.content-tabs {
			margin-right: 30px;
			display     : none;

			&.active {
				display: block;
			}

			&#description {
				padding-bottom: 30px;

				p {
					color        : #888888;
					font-size    : 16px;
					margin-bottom: 20px;
				}

				img {
					width        : 100%;
					height       : auto;
					object-fit   : cover;
					margin-bottom: 50px;
				}
			}

			&#thongsokythuat {
				padding-bottom: 60px;

				table {
					font-size: 16px;
					color    : #949494;

					tr {
						border-top: 1px solid #F5F5F5;
						height    : 60px;

						&:last-child {
							border-bottom: 1px solid #F5F5F5;
						}
					}

					th {
						font-weight: 400;
						margin-left: 245px;
						width      : 390px;
					}

					td {
						margin-left: auto;
					}
				}
			}

			&#comment {
				.block-rating {
					display       : flex;
					flex-wrap     : wrap;
					padding-bottom: 15px;
					border-bottom : 1px solid #F5F5F5;

					// PHẦN SỐ SAO
					.rating-number {
						flex        : 0 0 30%;
						max-width   : 30%;
						border-right: 1px solid #DFDFDF;

						h4 {
							font-size    : 24px;
							color        : #1C1C1C;
							font-weight  : 700;
							margin-bottom: 13px;
						}

						.rating {
							margin-bottom: 5px;
						}

						.commmet-number {
							color    : #1C1C1C;
							font-size: 12px;
						}
					}

					// PHẦN PHÂN TÍCH TỈ LỆ %
					.statistical-rating {
						display: block;
						flex   : 0 0 70%;
						padding: 0 70px 0 157px;

						.statistical-detail {
							.side {
								margin-top : 10px;
								font-size  : 12px;
								font-weight: 400;
								color      : #1C1C1C;
								float      : left;
								width      : 7%;
								line-height: 1;

								span {
									position: relative;

									&:after {
										content         : '';
										position        : absolute;
										top             : 50%;
										transform       : translateY(-50%);
										left            : 15px;
										background-size : 13px;
										width           : 13px;
										height          : 13px;
										background-image: url(../img/icons/star-nofull.svg)
									}
								}

								&.right {
									text-align: right;
								}
							}

							.middle {
								float     : left;
								width     : 86%;
								margin-top: 10px;

								.bar-container {
									width        : 100%;
									border       : 1px solid #DFDFDF;
									border-radius: 5px;
									text-align   : center;
									color        : white;

									.bar {
										height          : 10px;
										background-color: #DFDFDF;
									}
								}
							}

							&.mt-0 {
								.side {
									margin-top: 0;
								}

								.middle {
									margin-top: 0;
								}
							}
						}
					}
				}

				.block-comment {
					margin-top    : 15px;
					padding-bottom: 20px;

					.main-comment {
						display      : flex;
						border-radius: 5px;
						padding      : 30px;
						background   : #F5F5F5;

						&.reply {
							margin-left  : 110px;
							background   : #FFFFFF;
							border-bottom: 1px solid #F5F5F5;
						}

						figure {
							.avatar {
								display        : flex;
								justify-content: center;
								align-items    : center;
								width          : 90px;
								height         : 90px;
								border-radius  : 5px;
								overflow       : hidden;
								object-fit     : cover;
								background     : #888888;
								color          : #FFFFFF;
							}

							.name {
								margin-top: 10px;
								text-align: center;
								font-size : 14px;
								color     : #1C1C1C;
							}
						}

						.content-comment {
							width      : 100%;
							margin-left: 30px;

							.rating {
								float        : left;
								margin-right : 20px;
								margin-bottom: 0;
							}

							.day-comment {
								float     : left;
								font-size : 12px;
								color     : #888888;
								font-style: italic;
							}

							.content {
								float     : left;
								margin-top: 10px;

								p {
									height            : 65px;
									font-size         : 16px;
									color             : #1C1C1C;
									overflow          : hidden;
									text-overflow     : ellipsis;
									display           : -webkit-box;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
								}
							}

							.button-like-comment,
							.button-comment {
								float       : left;
								margin-right: 35px;
								margin-top  : 25px;
								cursor      : pointer;

								svg {
									margin-right: 10px;

									&.active {
										path {
											fill: #D82F25;
										}
									}
								}

								span {
									font-size     : 12px;
									letter-spacing: 2px;
									color         : #888888;
									user-select   : none;
								}
							}
						}

						.input-comment {
							display    : flex;
							align-items: center;
							width      : 100%;

							input[type='text'] {
								width        : 100%;
								height       : 25px;
								line-height  : 40px;
								margin-left  : 60px;
								border       : none;
								border-bottom: 1px solid #F5F5F5;
							}
						}
					}

					.see-more-reply {
						cursor         : pointer;
						margin         : 35px 0;
						text-align     : center;
						color          : #D82F25;
						text-decoration: underline;
					}

					.btn-outline-black {
						display    : flex;
						margin-left: 200px;
						margin-top : 50px;
						cursor     : pointer;
						width      : 266px;
						height     : 33px;
					}
				}
			}
		}
	}
}