section.tabs-info-product
	.container
		#tabs
			.row
				.col-lg-3
					ul.list-tabs
						li.item.active
							a(data-tab="description") Mô tả sản phẩm
						li.item
							a(data-tab="thongsokythuat") Thông số kỹ thuật
						li.item
							a(data-tab="comment") Bình luận
				.col-lg-9
					.content#description
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						p In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod similique fuga vel eum, modi obcaecati labore quibusdam? Dolores fugit est error praesentium deserunt suscipit commodi explicabo odio. Amet, non quaerat!
						p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
						img(src="./img/home-product/im-info-product-detail.png", alt="")
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod similique fuga vel eum, modi obcaecati labore quibusdam? Dolores fugit est error praesentium deserunt suscipit commodi explicabo odio. Amet, non quaerat!
						p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
					.content#thongsokythuat
						table
							tr
								th Power Supply
								td 100~240 Volts AC, 50~60 Hz, auto-switching power
							tr
								th Weight
								td 1.4 kg
							tr
								th Product Finish
								td Product Finish
							tr
								th Enclosure Design
								td sealed
							tr
								th Amplifier Channels
								td 2
					.content#comment.active
						.block-ranting
							.ranting-number
								h4 4
									span /5
								.ranting
									.star
										.number-star
									.star
										.number-star
									.star
										.number-star
									.star
										.number-star
									.star
										.number-star
								.commmet-number
									span (12 bình luận)
							.statistical-ranting
								.statistical-detail
									h5 5
									.ranting-bar(data-bar="80")