section.the-same-product
	.container
		.title
			h2 SẢN PHẨM CÙNG LOẠI
		.the-same-product-slider
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<5;i++)
						.swiper-slide.item-same
							a(href="sanpham-ct.html")
								figure
									img(src="./img/home-product/same-"+i+".png",alt="")
									figcaption
										h3.lcl.lcl-2 Loa Jamo 426 ABCDEF
										span 19.490.000 ₫
			.swiper-button-prev
			.swiper-button-next