.the-same-product {
	padding-bottom: 55px;

	.title {
		padding: 55px 0 80px;

		h2 {
			text-align: center;
			font-size: 24px;
			color: #1C1C1C;
			text-decoration: underline;
		}
	}

	.the-same-product-slider {
		position: relative;

		.item-same {
			figure {
				background: #FFFFFF;

				img {
					width: 100%;
					object-fit: cover;
				}

				figcaption {
					padding: 0 0 20px 40px;

					h3 {
						font-size: 18px;
						font-weight: 700;
						color: #484848;
						margin-bottom: 5px;
					}

					span {
						font-size: 16px;
						color: #888888;
					}
				}
			}
		}

		.swiper-button-next {
			background-image: url(../img/icons/thesame-next.svg);
			right: -80px;
		}

		.swiper-button-prev {
			background-image: url(../img/icons/thesame-prev.svg);
			left: -80px;
		}
	}

	@media (max-width: 1439.98px) {

		.title {
			padding: 30px 0 40px;
		}
	}

	@media(max-width: 1024px) {
		.title {
			padding: 25px 0;

			h2 {
				font-size: 18px;
			}
		}

		.the-same-product-slider {
			position: relative;
			padding: 0 40px;

			.item-same {
				figure {
					background: #FFFFFF;

					img {
						width: 100%;
						object-fit: cover;
					}

					figcaption {
						padding: 0 0 20px 40px;

						h3 {
							font-size: 18px;
							font-weight: 700;
							color: #484848;
							margin-bottom: 5px;
						}

						span {
							font-size: 16px;
							color: #888888;
						}
					}
				}
			}

			.swiper-button-next {
				background-image: url(../img/icons/thesame-next.svg);
				right: 0px;
			}

			.swiper-button-prev {
				background-image: url(../img/icons/thesame-prev.svg);
				left: 0px;
			}
		}
	}
}