section.the-same-product
	.container
		.title
			h2 SẢN PHẨM CÙNG LOẠI
		.the-same-product-slider
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<5;i++)
						.swiper-slide.item-same
							a(href="sanpham-ct.html")
								figure
									img(src="./img/home-product/same-"+i+".png",alt="")
									figcaption
										h3 Loa Jamo 426 ABCDEF
										span 19.490.000 ₫
			.swiper-button-prev
				<svg xmlns="http://www.w3.org/2000/svg" width="14.585" height="30.397" viewBox="0 0 14.585 30.397">
					<path id="Path_1553" data-name="Path 1553" d="M13.269,0,0,14.7,13.585,29.4" transform="translate(0.5 0.5)" fill="none" stroke="#1c1c1c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
				</svg>
			.swiper-button-next
				<svg xmlns="http://www.w3.org/2000/svg" width="14.585" height="30.397" viewBox="0 0 14.585 30.397">
					<path id="Path_1552" data-name="Path 1552" d="M13.269,0,0,14.7,13.585,29.4" transform="translate(14.085 29.897) rotate(180)" fill="none" stroke="#1c1c1c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
				</svg>