.the-same-product {
	padding-bottom: 55px;
	overflow: hidden;

	&[data-theme="ver-2"] {
		.title {
			h2 {
				color: #111111;
			}
		}

		.the-same-product-slider {
			.item-same {
				figure {
					figcaption {
						h3 {
							font-size: 14px;
							color: #111111;
						}

						span {
							font-size: 14px;
							color: #111111;
						}
					}
				}
			}
		}
	}

	&[data-theme="ver-3"] {
		.title {
			h2 {
				color: #888;
			}
		}

		.the-same-product-slider {
			.item-same {
				figure {
					figcaption {
						h3 {
							font-size: 14px;
							color: #888;
						}

						span {
							font-size: 14px;
							color: #888;
						}
					}
				}
			}
		}
	}

	.title {
		padding: 55px 0 80px;

		h2 {
			text-align: center;
			font-size: 24px;
			color: #1C1C1C;
			text-decoration: underline;
		}
	}

	.swiper-container {
		padding-right: 150px;
	}

	.the-same-product-slider {
		position: relative;

		.item-same {
			figure {
				background: #FFFFFF;

				img {
					width: 100%;
					object-fit: cover;
				}

				figcaption {
					padding: 0 0 20px 40px;

					h3 {
						font-size: 18px;
						font-weight: 700;
						color: #484848;
						margin-bottom: 5px;
					}

					span {
						font-size: 16px;
						color: #888888;
					}
				}
			}
		}

		.swiper-button-next {
			background-image: url(../img/icons/thesame-next.svg);
			right: -80px;
		}

		.swiper-button-prev {
			background-image: url(../img/icons/thesame-prev.svg);
			left: -80px;
		}
	}

	.swiper-slide-duplicate-active {
		opacity: .5;
	}

	@media (max-width: 1439.98px) {


		.title {
			padding: 30px 0 40px;
		}

		@media (max-width: 1024.98px) {
			.swiper-slide-duplicate-prev {
				opacity: .5;
			}
		}
	}

	@media(max-width: 1024px) {
		.title {
			padding: 25px 0;

			h2 {
				font-size: 18px;
			}
		}

		.the-same-product-slider {
			position: relative;

			.item-same {
				figure {
					background: #FFFFFF;

					img {
						width: 100%;
						object-fit: cover;
					}

					figcaption {
						padding: 5px;

						h3 {
							font-size: 18px;
							font-weight: 700;
							color: #484848;
							margin-bottom: 5px;
						}

						span {
							font-size: 16px;
							color: #888888;
						}
					}
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				width: 35px;
				height: 35px;
				background-color: map-get($mau, main);
				display: flex;
				justify-content: center;
				align-items: center;
				background-size: 7px;
			}

			.swiper-button-next {
				right: 0px;
				background-image: url(../img/icons/thesame-next-white.svg);
			}

			.swiper-button-prev {
				left: 0px;
				background-image: url(../img/icons/thesame-prev-white.svg);
			}
		}

		.swiper-container {
			padding-right: 50px;
		}
	}

	@media (max-width: 767.98px) {
		.the-same-product-slider {
			position: relative;

			.item-same {
				figure {

					figcaption {

						h3 {
							font-size: 14px;
						}

						span {
							font-size: 12px;
							color: #888888;
						}
					}
				}
			}
		}
	}
}