section.home-product.home-product-1
	.container
		.block-title.block-left
			h2.main-title Tai nghe - Loa di động
			.block-nav
				.swiper-prev
					span.lnr-chevron-left.lnr
				.swiper-next
					span.lnr-chevron-right.lnr
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="#") Jamo
						.swiper-slide
							a(href="#") Boston
						.swiper-slide
							a(href="#") Klipsch
						.swiper-slide
							a(href="#") PMC
						.swiper-slide
							a(href="#") LINN
						.swiper-slide
							a(href="#") Opera
						.swiper-slide
							a(href="#") PMC
						.swiper-slide
							a(href="#") LINN
						.swiper-slide
							a(href="#") Opera
		.product-slider.home-product-1
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide
							a(href="sanpham-ct.html")
								figure
									.box-img
										img.ofc(src="./img/home-product/"+i+".png", alt="")
									figcaption
										h5 Loa Jamo 426 HCS
										.price
											-if(i%2==0)
												span Giá bán: liên hệ
											-if(i%2==1)
												span Giá đang cập nhật
			.swiper-button-next
			.swiper-button-prev
section.home-product.home-product-2
	.container
		.block-title.block-left
			h2.main-title Âm Thanh Hi-Fi
			.block-nav
				.swiper-prev
					span.lnr-chevron-left.lnr
				.swiper-next
					span.lnr-chevron-right.lnr
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="#") Jamo
						.swiper-slide
							a(href="#") Boston
						.swiper-slide
							a(href="#") Klipsch
						.swiper-slide
							a(href="#") PMC
						.swiper-slide
							a(href="#") LINN
						.swiper-slide
							a(href="#") Opera
						.swiper-slide
							a(href="#") PMC
						.swiper-slide
							a(href="#") LINN
						.swiper-slide
							a(href="#") Opera
		.product-slider
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide
							a(href="sanpham-ct.html")
								figure
									.box-img
										img.ofc(src="./img/home-product/"+i+".png", alt="")
									figcaption
										h5 Loa Jamo 426 HCS
										.price
											span 4.490.000 đ
											del 9.490.000 đ
			.swiper-button-next
			.swiper-button-prev
			//- a(href="sanpham.html").see-more.btn.btn-outline-black Xem thêm
section.home-product.home-product-3
	.container
		.block-title.block-left.red
			h2.main-title Âm Thanh Hi-End
			.block-nav
				.swiper-prev
					span.lnr-chevron-left.lnr
				.swiper-next
					span.lnr-chevron-right.lnr
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="#") Jamo
						.swiper-slide
							a(href="#") Boston
						.swiper-slide
							a(href="#") Klipsch
						.swiper-slide
							a(href="#") PMC
						.swiper-slide
							a(href="#") LINN
						.swiper-slide
							a(href="#") Opera
						.swiper-slide
							a(href="#") PMC
						.swiper-slide
							a(href="#") LINN
						.swiper-slide
							a(href="#") Opera
		.product-slider
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide
							a(href="sanpham-ct.html")
								figure
									.box-img
										img.ofc(src="./img/home-product/"+i+".png", alt="")
									figcaption
										h5 Loa Jamo 426 HCS
										.price
											span 4.490.000 đ
											del 9.490.000 đ
			.swiper-button-next
			.swiper-button-prev