.product-sale-hot {
	margin-top: 30px;


	@media (max-width: 1439.98px) {
		margin-top: 20px;
	}

	@media(max-width: 1024px) {

		.tab-container {
			.tab-content {
				.content {
					display: block;
					opacity: 1;

					&[tab-id="sale"] {
						margin-bottom: 15px;
					}
				}

				.product-slider {
					padding-bottom: 0;
				}
			}

			// .block-title {
			// 	display: none;
			// }
		}
	}
}

.home-product {
	margin-top: 30px;

	@media (max-width: 1439.98px) {
		margin-top: 20px;
	}

	@media(max-width:1024px) {
		margin-top: 10px;
	}

	@media (max-width: 1024px) {
		&.home-product-3 {
			margin-bottom: 10px;
		}
	}
}

.product-slider {
	position: relative;
	background: #ffffff;
	border-radius: 0 0 5px 5px;

	.swiper-wrapper {
		padding: 20px 0;

		.swiper-slide {
			user-select: none;
			padding: 0 30px;

			+.swiper-slide {
				border-left: 1px solid darken(white, 12%);
			}

			figure {
				position: relative;

				.box-img {
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;

					img {
						object-fit: cover;
						display: block;
						margin: 0 auto;
					}
				}

				figcaption {
					color: #1C1C1C;

					h5 {
						// text-align: center;
						font-size: 13px;
						font-weight: 400;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						display: -webkit-box;
						text-overflow: ellipsis;
					}

					.price {
						display: flex;
						justify-content: space-between;
						font-size: 13px;
						font-weight: 400;
						margin-bottom: 15px;
						align-items: center;

						span {
							color: #D82F25;
						}

						del {
							margin-left: 10px;
							font-size: 11px;
							color: #888888;
							font-weight: 400;
						}
					}

					.list-button {
						display: flex;
						justify-content: space-between;

						.add-cart {
							display: flex;
							background: transparent;
							border: none;

							span {
								color: #000000;
								font-size: 10px;
								align-self: flex-end;
								margin-left: 5px;
							}
						}

						.so-sanh {
							display: flex;
							align-items: flex-end;
							text-decoration: underline;
							font-size: 14px;
							font-weight: 700;
							color: #1C1C1C;
						}
					}
				}
			}
		}
	}

	.swiper-button-next {
		background-image: url(../img/icons/next-sale-hot.svg) !important;
		background-size: cover;
		width: 62px;
		height: 62px;
		right: -35px;
	}

	.swiper-button-prev {
		background-image: url(../img/icons/prev-sale-hot.svg) !important;
		background-size: cover;
		width: 62px;
		height: 62px;
		left: -35px;
	}

	.see-more {
		font-size: 16px;
		cursor: pointer;
		width: 140px;
		height: 33px;
		margin: 0 auto;
	}

	&.loading {
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: darken(white, 12%);
			background-image: url('../img/ajax-loading.svg');
			background-position: center;
			background-size: 75px;
			background-repeat: no-repeat;
			z-index: 2;
		}
	}

	@media (max-width: 1024px) {
		.swiper-wrapper {
			padding: 20px 0;

			.swiper-slide {
				padding: 0 25px;
			}
		}
	}

	@media(max-width: 768px) {
		.swiper-wrapper {

			.swiper-slide {
				padding: 0 10px;

				figure {
					.box-img {
						height: unset;
						width: unset;
					}

					figcaption {

						h5 {
							font-size: 14px;
							margin-bottom: 5px;
							font-weight: 400;
							color: #000000;
						}

						.price {
							font-size: 16px;
							display: block;
							margin-bottom: 5px;

							span {
								display: block;
							}

							del {
								display: none;
							}
						}

						.list-button {
							display: none;
						}

						.button-add-cart-mb {
							display: flex;
							margin: 0 auto;
						}
					}
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}
}

.product-slider-hot-sale {
	position: relative;
	background: #ffffff;
	border-radius: 0 0 5px 5px;

	.swiper-wrapper {
		padding: 20px 0;

		.swiper-slide {
			user-select: none;
			padding: 0 20px;

			+.swiper-slide {
				border-left: 1px solid darken(white, 12%);
			}

			figure {
				position: relative;

				.box-img {
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;

					img {
						object-fit: cover;
						display: block;
						margin: 0 auto;
					}
				}

				figcaption {
					color: #1C1C1C;

					h5 {
						text-align: left;
						font-size: 13px;
						font-weight: 400;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						display: -webkit-box;
						text-overflow: ellipsis;
					}

					.price {
						display: flex;
						justify-content: space-between;
						font-size: 13px;
						font-weight: 400;
						margin-bottom: 15px;
						align-items: center;

						span {
							color: #D82F25;
						}

						del {
							font-size: 13px;
							color: #888888;
							font-weight: 400;
						}
					}

					.list-button {
						display: flex;
						justify-content: space-between;

						.add-cart {
							display: flex;
							background: transparent;
							border: none;

							span {
								color: #000000;
								font-size: 10px;
								align-self: flex-end;
								margin-left: 5px;
							}
						}

						.so-sanh {
							display: flex;
							align-items: flex-end;
							text-decoration: underline;
							font-size: 14px;
							font-weight: 700;
							color: #1C1C1C;
						}
					}

					.button-add-cart-mb {
						display: none;
					}
				}
			}
		}
	}

	.swiper-button-next {
		background-image: url(../img/icons/next-sale-hot.svg) !important;
		background-size: cover;
		width: 62px;
		height: 62px;
		right: -35px;
	}

	.swiper-button-prev {
		background-image: url(../img/icons/prev-sale-hot.svg) !important;
		background-size: cover;
		width: 62px;
		height: 62px;
		left: -35px;
	}

	.see-more {
		font-size: 16px;
		cursor: pointer;
		width: 140px;
		height: 33px;
		margin: 0 auto;
	}

	@media (max-width: 1024px) {
		.swiper-wrapper {
			padding: 20px 0;

			.swiper-slide {
				padding: 0 25px;
			}
		}
	}

	@media(max-width: 768px) {
		.swiper-wrapper {

			.swiper-slide {
				padding: 0 10px;

				figure {
					.box-img {
						height: unset;
						width: unset;
					}

					figcaption {

						h5 {
							font-size: 14px;
							margin-bottom: 12px;
							font-weight: 400;
							color: #000000;
						}

						.price {
							font-size: 16px;
							display: block;
							margin-bottom: 5px;
							color: #D82F25;

							span {
								display: block;
							}

							del {
								display: none;
							}
						}

						.list-button {
							display: none;
						}

						.button-add-cart-mb {
							display: flex;
							margin: 0 auto;
						}
					}
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}
}

.brand-slider {
	background: #ffffff;
	padding: 20px 100px;
	position: relative;
	border-bottom: 1px solid #DFDFDF;

	.swiper-slide {
		.box-img {
			max-width: 130px;
			height: 60px;

			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.swiper-button-next {
		background-image: url(../img/icons/next-brand.svg);
		background-size: 8px;
		background-repeat: no-repeat;
		height: 30px;
		width: 30px;
		transform: translateY(-50%);
		margin-top: unset;
	}

	.swiper-button-prev {
		background-image: url(../img/icons/prev-brand.svg);
		background-size: 8px;
		background-repeat: no-repeat;
		height: 30px;
		width: 30px;
		transform: translateY(-50%);
		margin-top: unset;
	}

	@media(max-width: 1024px) {
		display: none;
	}
}