section.product-sale-hot
	.container
		.block-title.sale-hot
			.row#tabs
				.col-lg-6
					h2(data-tab="sale").main-title.active SẢN PHẨM KHUYẾN MÃI
				.col-lg-6
					h2(data-tab="hot").main-title SẢN PHẨM NỔI BẬT
		.product-slider#sale.tab-content.active
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide.item
							figure
								.box-img
									img(src="./img/home-product/"+i+".png", alt="")
								figcaption
									h5 Loa Jamo 426 HCS
									.price
										span 4.490.000 đ
										del 9.490.000 đ
									.list-button
										button.add-cart
											<svg xmlns="http://www.w3.org/2000/svg" width="27.587" height="24.139" viewBox="0 0 27.587 24.139"><g id="noun_Shopping_Cart_2751643" data-name="noun_Shopping Cart_2751643" transform="translate(-2 24.25)">\<path id="Path_1530" data-name="Path 1530" d="M2.808-25.25a.806.806,0,0,0-.808.8.806.806,0,0,0,.808.8h4.2L9.927-10.568A2.417,2.417,0,0,0,8.466-8.353,2.422,2.422,0,0,0,10.89-5.939H25.546a.806.806,0,0,0,.808-.8.806.806,0,0,0-.808-.8H10.89a.807.807,0,0,1-.808-.8.807.807,0,0,1,.806-.8H25.546a.808.808,0,0,0,.777-.584l3.233-11.265a.8.8,0,0,0-.132-.705.81.81,0,0,0-.645-.32H9.024L8.447-24.62a.808.808,0,0,0-.789-.63ZM23.929-5.939A2.422,2.422,0,0,0,21.5-3.525a2.422,2.422,0,0,0,2.425,2.414,2.422,2.422,0,0,0,2.425-2.414A2.422,2.422,0,0,0,23.929-5.939Zm-11.423,0a2.422,2.422,0,0,0-2.425,2.414,2.422,2.422,0,0,0,2.425,2.414,2.422,2.422,0,0,0,2.425-2.414A2.422,2.422,0,0,0,12.507-5.939ZM9.383-20.422H27.707l-2.771,9.655h-13.4ZM12.507-4.33a.807.807,0,0,1,.808.8.807.807,0,0,1-.808.8.807.807,0,0,1-.808-.8A.807.807,0,0,1,12.507-4.33Zm11.423,0a.807.807,0,0,1,.808.8.807.807,0,0,1-.808.8.807.807,0,0,1-.808-.8A.807.807,0,0,1,23.93-4.33Z" transform="translate(0 1)" fill="#d82f25"/></g></svg>
											span Thêm vào giỏ
										.so-sanh
											a(href="#") So Sánh
								.khuyenmai
									span(data-sale=60) 60%
			.swiper-button-next
			.swiper-button-prev
		.product-slider#hot.tab-content
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide.item
							figure
								.box-img
									img(src="./img/home-product/"+i+".png", alt="")
								figcaption
									h5 Loa Jamo 426 HCS
									.price
										span 4.490.000 đ
										del 9.490.000 đ
									.list-button
										button.add-cart
											<svg xmlns="http://www.w3.org/2000/svg" width="27.587" height="24.139" viewBox="0 0 27.587 24.139"><g id="noun_Shopping_Cart_2751643" data-name="noun_Shopping Cart_2751643" transform="translate(-2 24.25)">\<path id="Path_1530" data-name="Path 1530" d="M2.808-25.25a.806.806,0,0,0-.808.8.806.806,0,0,0,.808.8h4.2L9.927-10.568A2.417,2.417,0,0,0,8.466-8.353,2.422,2.422,0,0,0,10.89-5.939H25.546a.806.806,0,0,0,.808-.8.806.806,0,0,0-.808-.8H10.89a.807.807,0,0,1-.808-.8.807.807,0,0,1,.806-.8H25.546a.808.808,0,0,0,.777-.584l3.233-11.265a.8.8,0,0,0-.132-.705.81.81,0,0,0-.645-.32H9.024L8.447-24.62a.808.808,0,0,0-.789-.63ZM23.929-5.939A2.422,2.422,0,0,0,21.5-3.525a2.422,2.422,0,0,0,2.425,2.414,2.422,2.422,0,0,0,2.425-2.414A2.422,2.422,0,0,0,23.929-5.939Zm-11.423,0a2.422,2.422,0,0,0-2.425,2.414,2.422,2.422,0,0,0,2.425,2.414,2.422,2.422,0,0,0,2.425-2.414A2.422,2.422,0,0,0,12.507-5.939ZM9.383-20.422H27.707l-2.771,9.655h-13.4ZM12.507-4.33a.807.807,0,0,1,.808.8.807.807,0,0,1-.808.8.807.807,0,0,1-.808-.8A.807.807,0,0,1,12.507-4.33Zm11.423,0a.807.807,0,0,1,.808.8.807.807,0,0,1-.808.8.807.807,0,0,1-.808-.8A.807.807,0,0,1,23.93-4.33Z" transform="translate(0 1)" fill="#d82f25"/></g></svg>
											span Thêm vào giỏ
										.so-sanh
											a(href="#") So Sánh
								.khuyenmai
									span(data-hot=true) HOT
			.swiper-button-next
			.swiper-button-prev
