extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Địa chỉ giao hàng'
	- var bodyClass = 'cart-shipping-address'

block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/cart/c-2.pug