extends _layout/_layout

block var
	- var title = 'Anh Duyên | Dự án'
	- var bodyClass = 'project-page'


block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/project/p-1.pug