extends _layout/_layout

block var
	- var title = 'Anh Duyên | Đự án chi tiết'
	- var bodyClass = 'project-detail-page'

block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/project/p-2.pug