extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Giỏ hàng'
	- var bodyClass = 'cart-page'

block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/cart/c-1.pug