extends _layout/_layout.pug

block var
	- var title = 'Giới thiệu | Giải pháp chi tiết'
	- var bodyClass = 'about-page bg-white'

block main
	include ../components/banner/b-4.pug
	include ../components/about/a-nav.pug
	.about-ajax
		include ../components/about/a-5.pug