extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Giới thiệu'
	- var bodyClass = 'about-page bg-white'

block main
	include ../components/banner/b-4.pug
	.about-tab
		.tab-container
			include ../components/about/a-1.pug
			.tab-content
				include ../components/about/a-2.pug
				include ../components/about/a-3.pug
				include ../components/about/a-4.pug
				include ../components/about/a-5.pug