extends _layout/_layout.pug

block var
	- var title = 'Giới thiệu | Dự án'
	- var bodyClass = 'about-page bg-white'

block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/banner/b-4.pug
	include ../components/about/a-nav.pug
	.container.about-duan-wrapper
		.row
			.col-lg-11.col-xl-10
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				.about-ajax
					include ../components/about/a-4.pug