extends _layout/_layout.pug

block var
	- var title = 'Giới thiệu | Dự án'
	- var bodyClass = 'about-page bg-white'

block main
	include ../components/banner/b-4.pug
	include ../components/about/a-nav.pug
	include ../components/about/a-4.pug