extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Trang Chủ'
	- var bodyClass = 'home-page'

block main
	//- HOME BANNER
	include ../components/banner/b-1.pug
	//- SẢN PHẨM KHUYẾN MÃI VÀ SẢN PHẨM HOT
	include ../components/home-product/sale-hot.pug
	//- DANH SÁCH CÁC SẢN PHẢM THEO LOẠI
	include ../components/home-product/list-product.pug
	//- BANNER SẢN PHẨM MỚI
	include ../components/banner/b-2.pug
	//- CÁC TIN TỨC LIÊN QUAN
	include ../components/news/list-news-same.pug
	//- DANNH SÁCH CÁC ĐỐI TÁC
	include ../components/list-clients/list-clients.pug