extends _layout/_layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vel exercitationem consequuntur nesciunt cupiditate? Aut dicta, nulla expedita eos quo odio voluptas hic beatae magnam aperiam? Vero hic ex veritatis!