extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Liên hệ'
	- var bodyClass = 'contact-page bg-white'

block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/contact/c-1.pug


block scripts
	script.
		var inputLocations = [
			{
				lat: 16.061979,
				lng: 108.215886,
				name: 'Văn phòng Công ty',
				icon: "./img/circle.png",
				address: '115 Lê Đình Dương, Tp.Đà Nẵng',
				phone: '0236 3584 606',
				optimized: false
			},
			{
				lat: 10.822517,
				lng: 106.861143,
				name: 'Showroom 2',
				icon: "./img/circle.png",
				address: '115 Lê Đình Dương, Tp.Đà Nẵng',
				phone: '0236 3584 606',
				optimized: false
			}
		];