extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Liển hệ'
	- var bodyClass = 'contact-page bg-white'

block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/contact/c-1.pug