extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Trang Chủ'
	- var bodyClass = 'home-page'

block main
	include ../components/breadcrumb/breadcrumb.pug
	section.list-product
		.container
			.row
				.col-lg-auto
					include ../components/filter/filter.pug
				.col-lg