extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Sản phẩm chi tiết'
	- var bodyClass = 'list-product-page'

block main
	section.product-detail
		include ../components/breadcrumb/breadcrumb.pug
		include ../components/product/product-summary.pug
		include ../components/product/tabs-info-product.pug
		include ../components/product/the-same-product.pug