extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Danh Sách SP'
	- var bodyClass = 'list-product-page bg-white'

block main
	include ../components/breadcrumb/breadcrumb.pug
	#backdrop
	section.list-product
		.container
			.row
				.col-lg-auto
					include ../components/filter/filter.pug
				.col-lg
					.quantity
						p Có 
							span(data-sum-product) 2340 
							|  sản phẩm
					.row.list-item-product
						-for(i=1;i<17;i++)
							.col-md-3.col-6.item-list-pro
								include ../components/product/item.pug
								+imgProduct(i)
					include ../components/_global/pagination.pug