extends _layout/_layout.pug

block var
	- var title = 'Anh Duyên | Thanh toán'
	- var bodyClass = 'cart-checkout'

block main
	//- include ../components/breadcrumb/breadcrumb.pug
	include ../components/cart/c-3.pug