extends _layout/_layout

block var
	- var title = 'Anh Duyên | Thông tin chung - Mobile'
	- var bodyClass = 'newByCatalogMobile-page'


block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/news/n-4.pug