extends _layout/_layout

block var
	- var title = 'Anh Duyên | Thông tin chung'
	- var bodyClass = 'newByCatalog-page'


block main
	include ../components/breadcrumb/breadcrumb.pug
	include ../components/news/n-2.pug