extends _layout/_layout

block var
	- var title = 'Anh Duyên | Đổi mật khẩu'
	- var bodyClass = 'account-change-password-page'


block main
	include ../components/breadcrumb/breadcrumb.pug
	.account.account-info
		.container
			.row
				.col-lg-auto
					include ../components/account/sidemenu/s-1.pug
					+sidemenu(2)
				.col-lg
					include ../components/account/doimatkhau/d-1.pug
					