extends _layout/_layout

block var
	- var title = 'Anh Duyên | Quản lý đơn hàng'
	- var bodyClass = 'account-manage-address-page'


block main
	include ../components/breadcrumb/breadcrumb.pug
	.account.account-info
		.container
			.row
				.col-lg-auto
					include ../components/account/sidemenu/s-1.pug
					+sidemenu(3)
				.col-lg
					include ../components/account/quanlydonhang/q-1.pug
					