extends _layout/_layout

block var
	- var title = 'Anh Duyên | Thông tin tài khoản'
	- var bodyClass = 'account-info-page'


block main
	include ../components/breadcrumb/breadcrumb.pug
	.account.account-info
		.container
			.row
				.col-lg-auto
					include ../components/account/sidemenu/s-1.pug
					+sidemenu(1)
				.col-lg
					include ../components/account/thongtin/t-1.pug
					