.contact
	.container
		.row
			.col-lg-9
				.row.no-gutters
					.col-lg-5
						.imgbox
							img(src="./img/contact/1.png", alt="")
						.content
							p
								b Văn phòng CTY: 
								span 115 Lê Đình Dương - Hải Châu - Đà Nẵng
							p
								b Showroom: 
								span 83 Trần Quốc Toản - Hải Châu - Đà Nẵng
							p
								b Tel: 
								span 0935.605.333
							//- p
							//- 	b Fax: 
							//- 	span 0236.3583 606
							p
								b Email: 
								span anhduyenaudio@gmail.com
					.col-lg-1
					.col-lg-6
						.contact-form
							h2.block-title-3 LIÊN HỆ VỚI CHÚNG TÔI
							em Nếu bạn có câu hỏi hoặc cần tư vấn, hãy liên hệ với chúng tôi qua điện thoại, email hoặc trực tiếp điền thông tin vào mẫu. Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất hoặc gọi điện thoại để tư vấn.
							form
								.form-group
									label(for="name") Họ và tên
									.form-input
										input#name(type="text")
										span.error.mdi.mdi-alert-circle-outline Vui lòng nhập họ tên
								.form-group
									label(for="phone") Điện thoại
									.form-input
										input#phone(type="text")
										span.error.mdi.mdi-alert-circle-outline Bắt lỗi
								.form-group
									label(for="email") Email
									.form-input
										input#email(type="text")
										span.error.mdi.mdi-alert-circle-outline Bắt lỗi
								.form-group.error
									label(for="content") Nội dung
									.form-input
										textarea#content(type="text")
										span.error.mdi.mdi-alert-circle-outline Vui lòng nhập nội dung
								.form-button
									button.btn.btn-main Gửi
.contact-map
	#map