.user-sidemenu-wrapper {
	padding: 0 10px;
	background: map-get($mau, trang);
	;
	border-radius: 5px;
	min-width: 260px;

	@media (max-width: 1024.98px) {
		margin-bottom: 15px;
	}
}

.user-info {
	display: flex;
	align-items: center;
	padding: 15px 0;

	.info {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		padding-left: 15px;

		h4 {
			font-size: 16px;
			font-weight: 400;
		}

		p {
			font-size: 12px;
			color: map-get($mau, xam-3);
		}
	}
}

.user-nav {
	padding: 15px 10px;
	border-top: 1px dotted map-get($mau, xam-1);

	li {
		margin-bottom: 5px;

		a {
			display: flex;
			align-items: center;
			height: 40px;
			padding: 0 10px;
			color: map-get($mau, den);
			font-size: 14px;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 0 0 24px;
				max-width: 24px;
			}

			svg {
				.fill {
					fill: map-get($mau, den);
				}

				.stroke {
					fill: none;
					stroke: map-get($mau, den);
				}
			}

			span {
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;
				margin-left: 10px;
			}
		}

		&:hover {
			a {
				background: rgba(map-get($mau, den), .85);
				border-radius: 15px;

				span {
					color: map-get($mau, trang);
				}

				svg {
					.fill {
						fill: map-get($mau, trang);
					}

					.stroke {
						fill: none;
						stroke: map-get($mau, trang);
					}
				}
			}
		}

		&.active {
			a {
				background: map-get($mau, den);
				border-radius: 15px;

				span {
					color: map-get($mau, trang);
				}

				svg {
					.fill {
						fill: map-get($mau, trang);
					}

					.stroke {
						fill: none;
						stroke: map-get($mau, trang);
					}
				}
			}
		}
	}
}