.list-product {
	margin-top: 5px;

	.quantity {
		display: flex;
		height : 75px;

		p {
			margin-left: auto;
			color      : #888888;
			font-size  : 14px;
		}
	}

	.list-item-product {
		margin: 0 -13px -12px;

		.item {
			margin-bottom: 47px;
			padding      : 0 13px !important;
		}
	}
}