@import "_core/icons.scss";
@import "_core/buttons.scss";
@import "_core/core2.scss";

@import "_global/pagination.scss";

@import "account/general.scss";
@import "account/sidemenu/s-1.scss";
@import "account/thongtin/t-1.scss";
@import "account/doimatkhau/d-1.scss";
@import "account/quanlydonhang/q-1.scss";
@import "account/quanlydonhang/q-2.scss";
@import "account/quanlydonhang/q-3.scss";
@import "account/quanlydiachi/q-1.scss";

@import "cart/c-1.scss";
@import "cart/c-2.scss";
@import "cart/c-3.scss";
@import "cart/c-4.scss";

@import "recruitment/r-1.scss";

@import "about/a-nav.scss";
@import "about/a-1.scss";
@import "about/a-2.scss";
@import "about/a-3.scss";
@import "about/a-4.scss";
@import "about/a-5.scss";

@import "contact/c-1.scss";

@import "dealer-locator/d-1.scss";

@import "project/p-1.scss";
.desktop {
  @media (max-width: 1024.98px) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: 1025px) {
    display: none !important;
  }
}


.about-project-item {
	position: relative;

	.imgbox {
		overflow: hidden;

		img {
			transform: scale(1.2);
			transition: .35s;
		}
	}

	figcaption {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;

		@media (min-width: 1025px) {
			padding: 60px;
			transition: .35s;
			opacity: 0;
			top: 0;
			left: 0;
			height: 100%;
		}

		@media (max-width: 1024.98px) {
			padding: 15px 25px;
			bottom: 0;
			background: rgba(black, .8);
		}

		h4 {
			color: white;
			font-size: 14px;
			font-weight: 400;

			@media (min-width: 1025px) {
				font-weight: 700;
				font-size: 18px;
				text-align: center;
				transition: .35s;
				transform: translateY(15px);
			}
		}
	}

	&:hover {
		.imgbox {
			img {
				transform: scale(1);
			}
		}

		figcaption {
			background: rgba(black, .8);
			opacity: 1;

			h4 {
				transform: translateY(0);
			}
		}
	}
}