script(src="./js/core.min.js")
script(src="./js/main.min.js")
//- script(type="text/javascript", src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3') 
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCHvmyTralDp2Y0m7zEiN185u1vtArcC5s")
block scripts
script(src="./js/gmap.min.js")
//- script(src="./js/youtube.min.js")