.account-info-form {
	background: map-get($mau, trang);
	padding: 40px 0;
	border: 1px solid map-get($mau, xam-1);
	border-top: 0;

	@media (max-width: 1024.98px) {
		padding: 20px 0;
	}

	form {
		margin: 0 auto;
		max-width: 400px;
	}

	.social-connector {
		margin: 15px auto 0 auto;
		width: 100%;
		padding-top: 30px;
		border-top: 1px solid map-get($mau, xam-1);

		@media (max-width: 1024.98px) {
			padding-top: 15px;
			margin-top: 0;
			max-width: 400px;
		}

		p {
			font-size: 14px;
			margin-bottom: 8px;
		}

		.social-list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
		}

		.social-item {
			padding: 0 15px;
			flex: 0 0 50%;
			max-width: 50%;
			display: flex;
			justify-content: space-between;
			font-size: 12px;

			a {
				color: map-get($mau, main);
			}

			.added {
				color: map-get($mau, xam-3);
			}

			// @media (max-width: 767.98px) {
			// 	flex: 0 0 100%;
			// 	max-width: 100%;
			// }
		}
	}

	.form-group {
		label {
			flex: 0 0 80px;
			max-width: 80px;

			@media (max-width: 767.98px) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.form-input {
			flex: 0 0 300px;
			max-width: 300px;

			@media (max-width: 767.98px) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.form-radio {
			display: flex;
			flex-wrap: wrap;
			min-height: 40px;
			align-items: center;
		}

		.option {
			flex: 0 0 auto;
			padding-right: 20px;
			width: auto;
			max-width: 100%;
		}
	}
}