section.list-same-news(data-theme="ver-3")
	.container
		.row
			.col-lg-6
				.catalog-news
					.block-title.block-left.red
						h2.main-title Vì sao chọn chúng tôi
					//- a(href="tintuc-chung.html")
					//- 	p
					//- 		span Xem thêm
					//- 		span.mdi.mdi-chevron-right
				-for(i=1;i<4;i++)
					a(href="tintuc-ct.html")
						.block-news
							.img-news
								img(src="./img/news/news-same/"+i+".png", alt="")
							.content
								h5 Âm thanh gia đình
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.time
									span 2 tháng 10 - 2019
			.col-lg-6
				.catalog-news.mt-mb-20
					.block-title.block-left.red
						h2.main-title Tin công nghệ
					//- a(href="tintuc-chung.html")
					//- 	p
					//- 		span Xem thêm
					//- 		span.mdi.mdi-chevron-right
				-for(i=4;i<7;i++)
					a(href="tintuc-ct.html")
						.block-news
							.img-news
								img(src="./img/news/news-same/"+i+".png", alt="")
							.content
								h5 Âm thanh gia đình
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.time
									span 2 tháng 10 - 2019