section.news-detail(data-theme="ver-2")
	.container
		.row
			.col-lg-8
				.title-news-detail
					h3 AnhDuyen Audio trở thành đại lý chính thức duy nhất của Sennheiser tại Đà Nẵng
					span.time 16 tháng 6 - 2020
					<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
				.content-news-detail
					p Hè sôi động với tin vui khi AnhDuyen Audio là một trong những đại lý chính thức của Sennheiser tại Việt Nam và là đại lý duy nhất tại Đà Nẵng và miền Trung.
					p AnhDuyen Audio - hơn 20 năm cùng ngành âm thanh tại Đà Nẵng, là đơn vị đi đầu trong việc sưu tầm, nghiên cứu để mang những thiết bị, sản phẩm của các thương hiệu âm thanh hàng đầu thế giới cho anh em audiophile Đà Nẵng nói riêng và miền Trung nói chung. Hiện nay , AnhDuyen đã và đang là đại lý chính thức lâu năm của các hãng hi-end, hi-fi nổi tiếng: McIntosh, Avantgarde, Bowers and Wikins, Bose, JBL,...
					img(src="https://anhduyenaudio.vn/files/images/TIN%20T%E1%BB%A8C/%C4%90%E1%BA%A1i%20l%C3%BD%20Sennheiser%20t%E1%BA%A1i%20%C4%90%C3%A0%20N%E1%BA%B5ng%20-%20AnhDuyen%20Audio.jpg", alt="")
					p Đầu tháng 6 này, AnhDuyen Audio được sự tin tưởng của thương hiệu âm thanh 75 năm nổi tiếng thế giới đến từ nước Đức - Sennheiser đã kí kết để trở thành đại lý chính thức phân phối các sản phẩm chính hãng của Sennheiser tại Đà Nẵng. Như vậy,  AnhDuyen Audio là đại lý đầu tiên và duy nhất của Sennheiser tại Đà Nẵng và miền Trung phân phối các sản phẩm có tiếng của hãng như AMBEO Soundbar - đứng đầu phân khúc soundbar cao cấp, tai nghe Momentum, Momentum True Wireless,...
					img(src="https://anhduyenaudio.vn/files/images/TIN%20T%E1%BB%A8C/%C4%90%E1%BA%A1i%20l%C3%BD%20Sennheiser%20t%E1%BA%A1i%20%C4%90%C3%A0%20N%E1%BA%B5ng%20-%20AnhDuyen%20Audio%201.jpg", alt="")
					<p style="text-align: center;"><em>Hình ảnh AMBEO Soundbar của Sennheiser được trưng bày tại AnhDuyen Audio</em></p>
					p Vừa qua, trong 2 ngày 11 - 12/6 vừa qua, Đại diện thương hiệu Sennheiser Việt Nam cũng đã có chuyến thăm và làm việc tại AnhDuyen Audio. Đại diện của hãng trực tiếp chia sẻ và training những kiến thức cũng như thông tin của Sennheiser và các sản phẩm của hãng.
					img(src="https://anhduyenaudio.vn/files/images/TIN%20T%E1%BB%A8C/%C4%90%E1%BA%A1i%20l%C3%BD%20Sennheiser%20t%E1%BA%A1i%20%C4%90%C3%A0%20N%E1%BA%B5ng%20-%20AnhDuyen%20Audio%202.jpg", alt="")
					<p style="text-align: center;">Đại diện hãng đến chia sẻ và training tại AnhDuyen Audio</p>
					p AnhDuyen Audio vinh dự và tự hào khi nhận được sự tin tưởng của Senheiser để mang những sản phẩm chính hãng nổi tiếng của thương hiệu đến từ nước Đức này với người chơi âm thanh và yêu âm nhạc tại Đà Nẵng, miền Trung.
				ul.social-media
					li.item
						a(href="#")
							img(src="./img/icons/fb-sp-ct.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/instagram-sp-ct.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/twitter-sp-ct.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/printest-sp-ct.svg", alt="")
					li.item
						a(href="#")
							img(src="./img/icons/linkedin-sp-ct.svg", alt="")
			.col-lg-4
				.title-same-news
					h3 TIN LIÊN QUAN
				.the-same-news
					-for(i=1;i<9;i++)
						a(href="tintuc-ct.html")
							.item-same-news
								figure
									img.ofc(src="./img/news/tinlienquan/"+i+".png", alt="")
								.content
									p Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
									span.time 2 tháng 10 - 2019