.news-detail {
	background: #FFFFFF;
	padding-top: 25px;
	padding-bottom: 40px;

	.fb-share-button {
		margin-left: 20px;
	}

	.title-news-detail {
		margin-bottom: 20px;

		h3 {
			font-size: 23px;
			color: #000000;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}

	.content-news-detail {
		h1 {
			font-size: 24px;
			color: #040404c7;
		}

		h2 {
			font-size: 20px;
			color: #1c1c1cc7;
		}

		h3 {
			font-size: 18px;
			color: #1c1c1ca6;
		}

		p {
			color: #040404c7;
			font-size: 16px;
			margin-bottom: 20px;
		}

		img {
			margin: 10px 0 30px;
			width: 100%;
		}
	}

	.social-media {
		display: flex;
		margin-top: 30px;
		list-style-type: none;

		.item {
			margin-right: 35px;
		}
	}

	.title-same-news {
		width: 100%;
		background: #1C1C1C;
		margin-bottom: 5px;

		h3 {
			padding: 13px 0 13px 20px;
			font-size: 18px;
			color: #FFFFFF;
		}
	}

	.the-same-news {
		background: #F5F5F5;

		.item-same-news {
			padding: 20px 15px 15px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #DFDFDF;

			figure {
				flex: 0 0 140px;
				height: 115px;
			}

			.content {
				padding-left: 15px;

				p {
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					overflow: hidden;
					height: 65px;
					font-size: 15px;
					color: #1C1C1C;
					margin-bottom: 10px;
				}
			}
		}
	}

	@media(max-width: 1024px) {
		padding-bottom: 0;

		.title-news-detail {
			h3 {
				font-weight: 400;
			}
		}

		.content-news-detail {
			p {
				margin-bottom: 15px;
			}

			img {
				margin: 5px 0 15px;
			}
		}

		.social-media {
			margin: 10px 0 25px;

			.item {
				margin-right: 20px;
			}
		}

		.title-same-news {
			margin-bottom: 0;
			width: 100%;
			background: #FFFFFF;

			h3 {
				padding: 10px 0;
				color: #000000;
			}
		}

		.the-same-news {
			background: #FFFFFF;

			.item-same-news {
				padding: 10px 0;
				display: flex;
				align-items: center;
				border-bottom: 1px solid #DFDFDF;

				figure {
					flex: 0 0 140px;
					height: 115px;
				}

				.content {
					padding-left: 15px;

					p {
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						display: -webkit-box;
						overflow: hidden;
						height: 65px;
						color: #1C1C1C;
						margin-bottom: 10px;
					}
				}
			}
		}

	}

	@media(max-width: 480px) {

		.title-news-detail {
			h3 {
				font-size: 18px;
			}
		}

		.content-news-detail {
			p {
				font-size: 12px;
			}
		}

		.the-same-news {

			.item-same-news {
				.content {
					padding-left: 15px;

					p {
						height: 55px;
						font-size: 12px;
					}
				}
			}
		}

	}
}