.home-banner {
	margin-top: 15px;

	.slider-HomeBanner {
		figure {
			position: relative;

			img {
				width: 100%;
			}

			figcaption {
				position: absolute;
				color   : #9B9B9B !important;
				top     : 55px;
				left    : 70px;

				span {
					font-size: 18px;
				}

				h5 {
					font-size  : 33px;
					font-weight: 700;
				}

				.see-more {
					display      : inline-block;
					font-size    : 12px;
					line-height  : 36px;
					font-weight  : 700;
					color        : #D82F25;
					background   : #FFFFFF;
					border       : 1px solid #D82F25;
					padding      : 0 40px;
					border-radius: 25px;
					margin-top   : 30px;
				}
			}
		}

		.swiper-slide {
			figure {
				figcaption {

					span,
					h5,
					.see-more {
						transition: .5s all ease-in-out;
						transform : translateX(200%);
					}

					span {
						transition-delay: .5s;
						display         : block;
						opacity         : 0;
					}

					h5 {
						transition-delay: .8s;
						opacity         : 0;
					}

					.see-more {
						display         : inline-block;
						transition-delay: 1s;
						opacity         : 0;
					}
				}
			}

			&.swiper-slide-active {

				figure {
					figcaption {

						span,
						h5,
						.see-more {
							opacity  : 1;
							transform: translateX(0);
						}
					}
				}
			}
		}

		.swiper-pagination {
			text-align: right;
		}

		.swiper-pagination-bullets {
			bottom: 20px;
		}

		.swiper-pagination-bullet {
			margin-right: 25px;
			background  : #FFFFFF;
			width       : 12px;
			height      : 12px;
			border      : 1px solid #707070;
		}
	}

	.left-banner {
		display       : flex;
		flex-direction: column;
		overflow      : hidden;
		max-height    : 576px;

		@media (max-width: 1599.98px) {
			max-height: 531px;
		}

		@media (max-width: 1364.98px) {
			max-height: 457px;
		}

		@media (max-width: 1196.98px) {
			max-height: 395.5px;
		}

		.box-img {
			img {
				width     : 100%;
				height    : 100%;
				object-fit: cover;
			}
		}
	}

	@media(max-width: 1024px) {
		margin-top: 0;

		.container {
			padding: 0;
		}

		.left-banner {
			display: none;
		}

		.slider-HomeBanner {
			figure {
				figcaption {
					position: absolute;
					color   : #9B9B9B !important;
					top     : 30px;
					left    : 25px;

					.see-more {
						display: none;
					}
				}
			}

			.swiper-pagination {
				text-align: center;
			}
		}

	}

	@media(max-width: 480px) {
		.slider-HomeBanner {
			figure {
				figcaption {
					span {
						font-size: 12px;
					}

					h5 {
						font-size: 14px;
					}
				}
			}
		}
	}
}