section.home-banner
	.container
		.row.no-gutters
			.col-lg-8
				.swiper-container.slider-HomeBanner
					.swiper-wrapper
						-for(i=0;i<5;i++)
							.swiper-slide
								a(href="#")
									figure
										img(src="./img/home-banner/item_slide_01.png", alt="", srcset="")
										figcaption
											span Sản phẩm mới
											h5 LOA KLIPSCH
												br
												| RP-8060FA
											span.see-more Xem
					.swiper-pagination
			.col-lg-4.left-banner
				.box-img
					a(href="#")
						img(src="./img/home-banner/banner-home-01.png", alt="")
				.box-img
					a(href="#")
						img(src="./img/home-banner/banner-home-02.png", alt="")