section.banner-new-product
	.container
		figure
			img(src="./img/home-banner/banner-home-03.png", alt="")
			figcaption
				span Sản phẩm mới
				h5 LOA KLIPSCH RP-8060FA
				a.see-more(href="#") Xem