.sale-banner {
	margin-top: 17px;

	figure {
		position: relative;
		overflow: hidden;

		.box-img {

			img {
				width: 100%;
			}
		}

		.box-countdown {
			position : absolute;
			display  : flex;
			bottom   : 70px;
			left     : 50%;
			transform: translateX(-50%);

			.block {
				display        : flex;
				justify-content: center;
				align-items    : center;
				width          : 210px;
				height         : 85px;
				background     : rgba($color: #888888, $alpha: .3);
				border-radius  : 5px;
				margin         : 0 10px;

				#hours,
				#minutes,
				#seconds {
					color      : #FFFFFF;
					font-size  : 30px;
					font-weight: 700;
				}

				span {
					font-size  : 30px;
					margin-left: 30px;
					font-weight: 400;
					color      : #888888;
				}
			}
		}
	}

	@media(max-width: 1024.98px) {
		margin-top: 0;

		figure {
			.box-countdown {
				bottom: 15px;

				.block {
					width : 100px;
					height: 52px;

					#hours,
					#minutes,
					#seconds {
						font-size: 18px;
					}

					span {
						font-size  : 18px;
						margin-left: 15px;
					}
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		figure {
			.box-countdown {
				.block {
					height: 40px;

					#hours,
					#minutes,
					#seconds {
						font-size: 14px;
					}

					span {
						font-size: 14px;
					}
				}
			}
		}
	}
}