.sale-banner
	figure
		.box-img
			img(src="./img/home-banner/banner-saleOff.png", alt="")
		.box-countdown
			.block
				#hours 0
				span hours
			.block
				#minutes 0
				span min
			.block
				#seconds 0
				span sec