.sale-banner
	.date-over.hidden
		p 12-12-2023 23:59:00
	figure
		.box-img
			img(src="./img/home-banner/banner-saleOff.png", alt="")
		.box-countdown
			.block
				#hours 0
				span hours
			.block
				#minutes 0
				span min
			.block
				#seconds 0
				span sec