section.introduceBanner
	.container
		.swiper-container.introduce-slider
			.swiper-wrapper
				-for(i=0;i<4;i++)
					.swiper-slide
						figure
							img(src="./img/home-banner/introduce-banner.png", alt="")
							figcaption
								span ANHDUYEN AUDIO
								h5 ÂM THANH HAY
									br
									| CUỘC SỐNG ĐẸP
			.swiper-pagination